// Font-face generator

@font-face
	font-family 'Gotham-Book'
	font-source('../fonts/gotham/Gotham-Book')
	
@font-face
	font-family 'Gotham-Bold'
	font-source('../fonts/gotham/Gotham-Bold')
	
@font-face
	font-family 'Gotham-Medium'
	font-source('../fonts/gotham/Gotham-Medium')