// Plugins css

.pace 
	pointer-events none
	user-select none

.pace-inactive
	display none

.pace .pace-progress 
	background colorRed
	height 4px
	position fixed
	right 100%
	top 0
	width 100%
	z-index 2000
