// Sections
	
.section
	center: 480px
	padding 0 15px
	box-sizing border-box
	position relative
	z-index 10
	&.fold
		padding-bottom 435px
	&.foot
		padding-bottom 120px
	&.extended
		max-width 640px
	&.full
		padding-left 0
		padding-right 0
		
@media only screen and (min-width 641px) and (orientation landscape)
	.section
		&.foot
			padding-bottom 50px
			
@media only screen and (max-width 420px) and (orientation portrait)
	.section
		&.foot
			padding-bottom 70px
			
@media only screen and (max-height 420px) and (orientation landscape)
	.section
		&.foot
			padding-bottom 70px