// Main wrapper application

.wrapper
	cover('fixed')
	margin 0 auto
	min-width 320px
	overflow hidden
	
	width 100%
	&.device-768
		max-width 768px
	&.device-480
		max-width 480px
	
.wrapper-viewport
	absolute: top left
	width 100%
	z-index 1
	min-height 100%
	overflow hidden

.wrapper-navbar
	absolute: top left
	right 0
	max-width 420px
	width 100%
	height 100%
	z-index 0
	
.wrapper-app
	absolute: top left
	size: 100%
	bottom 0
	z-index 10
	overflow hidden
		
.wrapper-scroll
	absolute: top 50px left
	bottom 0
	width 100%
	z-index 10
	
	overflow auto
	overflow-x hidden
	-webkit-overflow-scrolling touch
	
	&.without-head
		top 0

.wrapper-page
	position relative
	min-height 100%
	
.wrapper-viewport
.wrapper-app
	background-image url('../img/bg-default.jpg')
	background-repeat no-repeat
	background-size cover
	
@media only screen and (max-width 420px) and (orientation portrait)
	.wrapper-scroll
		top 35px
		
@media only screen and (max-height 420px) and (orientation landscape)
	.wrapper-scroll
		top 35px