.modal
	fixed: top left
	size: 100%
	background-color colorBrown
	background-color alpha( colorBrown , .75 )
	text-align center
	z-index 170
	display none
	padding-bottom 120px
	&.active
		display table
	.modal-lines
		cover()
		background-image url('../img/bg-lines.png')
		opacity .45
		z-index -1
		
	.modal-box
		center: 480px
		
	.modal-logo
		center: 90px
		border 3px solid colorBrown
		height 90px
		border-radius 8px
		margin-bottom 15px
		background-color colorWhite
		img
			vertical-align middle
	
	.modal-text
		text-align center
		center: 460px
		padding 0 10px
		box-sizing border-box
		color colorWhite
		line-height 1.2
		margin-bottom 20px
		
@media only screen and (max-width 420px) and (orientation portrait)
	.modal
		padding-bottom 70px
		
@media only screen and (max-height 420px) and (orientation landscape)
	.modal
		padding-bottom 70px