.form
	position relative
	box-sizing border-box
	.control
		position relative
		width 100%
		box-sizing border-box
	input[type="text"]
	textarea
		border 1px solid colorBrown
		border-radius 8px
		box-sizing border-box
		font-size 21px
		padding-left 25px
		padding-right 15px
		width 100%
		&:focus
			outline none
			border-width 3px
	
	textarea
		resize none
		padding-top 10px
			
	.label-place
		absolute: top right 15px
		height 60px
		line-height 60px
		font-size 26px
		
	.input-msg
		text-align right
		color colorWhite
		padding-top 3px
		padding-right 10px
		span
			padding 0 4px
			background-color colorBrownDark
		span.error
			background-color colorError
	button
		display block
		background-color transparent
		appearance none
		border none
		border-radius 0
		&:focus
			outline none
			
@media only screen and (max-width 420px) and (orientation portrait)
	.form
		input[type="text"]
		textarea
			font-size 16px
			padding-left 10px
			padding-right 10px
		.input-msg
			font-size 14px
			line-height 16px
			span
				padding 2px 4px