.form-register
	padding-top 10px
	padding-bottom 1px
	.control
		margin-bottom 6px
	input
		height 60px
		line-height 60px
	
	.box-check
		background-color colorWhite
		border 1px solid colorBrown
		border-radius 8px
		box-sizing border-box
		padding 10px 25px 10px 85px
		font-size 16px
		line-height 16px
		position relative
		overflow hidden
		clearfix()
		.box-check-ok
			absolute: top left
			size: 80px 100%
			border-right 1px solid colorBrown
			border-right 1px solid alpha(colorBrown, .25)
			text-align center
			cursor pointer
			span
				size: 49px 100%
				background-size 33px 30px
				background-position center 
				background-repeat no-repeat
				vertical-align middle
				display inline-block
				background-image url('../img/check-ok.png')
				opacity 0
		.box-text
			float right
			color colorBrownDark
			text-align right
			vertical-align middle
			font-family 'Gotham-Medium'
		p
			font-size 14px
			margin 0
		
		input:checked ~ .box-check-ok span
			background-image url('../img/check-ok.png')
			opacity 1
			
@media only screen and (max-width 420px)
	.form-register
		.box-check
			padding-left 45px
			.box-check-ok
				width 40px
				span
					width 25px
					background-size 25px 22px
			p
				font-size 11px
				line-height 12px
				
@media only screen and (max-width 420px) and (orientation portrait)
	.form-register
		input
			height 45px
			line-height 45px

@media only screen and (max-height 420px) and (orientation landscape)
	.form-register
		input
			height 45px
			line-height 45px