.form-contact
	margin-top -75px
	padding-top 10px
	padding-bottom 1px
	.control
		margin-bottom 6px
	input
		height 60px
		
@media only screen and (max-width 420px) and (orientation portrait)
	.form-contact
		input
			height 45px
			line-height 45px		

@media only screen and (max-height 420px) and (orientation landscape)
	.form-contact
		input
			height 45px
			line-height 45px