.form-code
	padding-top 10px
	.group-form
		text-align center
	input[type="text"]
	.form-select
		background-color colorWhite
		border 6px solid colorBrown
		border-radius 12px
		box-sizing border-box
		color colorBrown
		display inline-block
		font-size 18px
		line-height 50px
		margin-left 4px
		margin-right 4px
		margin-bottom 10px
		padding 0 25px
		position relative
		size: 140px 60px
	input[type="text"]:focus
		border-width 6px
	.form-text
		text-align left
		cursor pointer
	.form-icon
		cursor pointer
		absolute: top right
		size: 50px 100%
		border-left 1px solid alpha(colorBrown, .35)
		font-size 16px
		text-align center
	.form-drop
		border-radius 8px
		absolute top 56px left
		width 100%
		background-color colorWhite
		background-color alpha(colorWhite, .90)
		max-height 122px
		display none
		z-index 10
		overflow auto
		overflow-x hidden
		-webkit-overflow-scrolling touch
		&.opened
			display block
		.form-option
			size: 100% 35px
			font-size 14px
			line-height 35px
			padding-right 50px
			box-sizing border-box
			border-bottom 1px solid colorBrown
			border-bottom 1px solid alpha(colorBrown, .35)
			cursor pointer
			&:last-child
				border none
			&:hover
				background-color colorWhite
	.btn
		padding-top 10px
		
	::placeholder
		color colorBrown
		
@media only screen and (max-width 420px) and (orientation portrait)
	.form-code
		padding-top 5px
		input[type="text"]
		.form-select
			size: 110px 45px
			line-height 40px
			padding 0 10px
			border-width 4px
			margin-bottom 5px
		.form-icon
			width 25px
			border-width 2px
		.form-drop
			top 45px
			max-height 85px
			.form-option
				height 25px
				line-height 25px
				padding-right 25px
		.btn
			padding-top 0
			
@media only screen and (max-height 420px) and (orientation landscape)
	.form-code
		padding-top 5px
		input[type="text"]
		.form-select
			size: 110px 45px
			line-height 40px
			padding 0 10px
			border-width 4px
			margin-bottom 5px
		.form-icon
			width 25px
			border-width 2px
		.form-drop
			top 45px
			max-height 85px
			.form-option
				height 25px
				line-height 25px
				padding-right 25px
		.btn
			padding-top 0