html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
b,
strong {
  font-weight: bold;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.visibilityHidden {
  opacity: 0;
}
.breakline {
  display: block;
}
.align-middle {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.link {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-yellow {
  color: #fec620;
}
::-moz-selection {
  background-color: #c6c7c8;
  color: #000;
}
::selection {
  background-color: #c6c7c8;
  color: #000;
}
input:-webkit-autofill {
  background-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
.border-top {
  border-top: 25px solid #461d07;
}
@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/gotham/Gotham-Book.eot");
  src: url("../fonts/gotham/Gotham-Book.eot?#iefix") format('embedded-opentype'), url("../fonts/gotham/Gotham-Book.woff") format('woff'), url("../fonts/gotham/Gotham-Book.ttf") format('truetype'), url("../fonts/gotham/Gotham-Book.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/gotham/Gotham-Bold.eot");
  src: url("../fonts/gotham/Gotham-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/gotham/Gotham-Bold.woff") format('woff'), url("../fonts/gotham/Gotham-Bold.ttf") format('truetype'), url("../fonts/gotham/Gotham-Bold.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url("../fonts/gotham/Gotham-Medium.eot");
  src: url("../fonts/gotham/Gotham-Medium.eot?#iefix") format('embedded-opentype'), url("../fonts/gotham/Gotham-Medium.woff") format('woff'), url("../fonts/gotham/Gotham-Medium.ttf") format('truetype'), url("../fonts/gotham/Gotham-Medium.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
.row .col-xlg-1,
.row .col-xlg-2,
.row .col-xlg-3,
.row .col-xlg-4,
.row .col-xlg-5,
.row .col-xlg-6,
.row .col-xlg-7,
.row .col-xlg-8,
.row .col-xlg-9,
.row .col-xlg-10,
.row .col-xlg-11,
.row .col-xlg-12,
.row .col-lg-1,
.row .col-lg-2,
.row .col-lg-3,
.row .col-lg-4,
.row .col-lg-5,
.row .col-lg-6,
.row .col-lg-7,
.row .col-lg-8,
.row .col-lg-9,
.row .col-lg-10,
.row .col-lg-11,
.row .col-lg-12,
.row .col-xmd-1,
.row .col-xmd-2,
.row .col-xmd-3,
.row .col-xmd-4,
.row .col-xmd-5,
.row .col-xmd-6,
.row .col-xmd-7,
.row .col-xmd-8,
.row .col-xmd-9,
.row .col-xmd-10,
.row .col-xmd-11,
.row .col-xmd-12,
.row .col-md-1,
.row .col-md-2,
.row .col-md-3,
.row .col-md-4,
.row .col-md-5,
.row .col-md-6,
.row .col-md-7,
.row .col-md-8,
.row .col-md-9,
.row .col-md-10,
.row .col-md-11,
.row .col-md-12,
.row .col-xsd-1,
.row .col-xsd-2,
.row .col-xsd-3,
.row .col-xsd-4,
.row .col-xsd-5,
.row .col-xsd-6,
.row .col-xsd-7,
.row .col-xsd-8,
.row .col-xsd-9,
.row .col-xsd-10,
.row .col-xsd-11,
.row .col-xsd-12,
.row .col-sd-1,
.row .col-sd-2,
.row .col-sd-3,
.row .col-sd-4,
.row .col-sd-5,
.row .col-sd-6,
.row .col-sd-7,
.row .col-sd-8,
.row .col-sd-9,
.row .col-sd-10,
.row .col-sd-11,
.row .col-sd-12,
.row .col-xs-1,
.row .col-xs-2,
.row .col-xs-3,
.row .col-xs-4,
.row .col-xs-5,
.row .col-xs-6,
.row .col-xs-7,
.row .col-xs-8,
.row .col-xs-9,
.row .col-xs-10,
.row .col-xs-11,
.row .col-xs-12,
.row .col-min-1,
.row .col-min-2,
.row .col-min-3,
.row .col-min-4,
.row .col-min-5,
.row .col-min-6,
.row .col-min-7,
.row .col-min-8,
.row .col-min-9,
.row .col-min-10,
.row .col-min-11,
.row .col-min-12 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
}
.col-xlg-1,
.col-xlg-2,
.col-xlg-3,
.col-xlg-4,
.col-xlg-5,
.col-xlg-6,
.col-xlg-7,
.col-xlg-8,
.col-xlg-9,
.col-xlg-10,
.col-xlg-11,
.col-xlg-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xmd-1,
.col-xmd-2,
.col-xmd-3,
.col-xmd-4,
.col-xmd-5,
.col-xmd-6,
.col-xmd-7,
.col-xmd-8,
.col-xmd-9,
.col-xmd-10,
.col-xmd-11,
.col-xmd-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-xsd-1,
.col-xsd-2,
.col-xsd-3,
.col-xsd-4,
.col-xsd-5,
.col-xsd-6,
.col-xsd-7,
.col-xsd-8,
.col-xsd-9,
.col-xsd-10,
.col-xsd-11,
.col-xsd-12,
.col-sd-1,
.col-sd-2,
.col-sd-3,
.col-sd-4,
.col-sd-5,
.col-sd-6,
.col-sd-7,
.col-sd-8,
.col-sd-9,
.col-sd-10,
.col-sd-11,
.col-sd-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-min-1,
.col-min-2,
.col-min-3,
.col-min-4,
.col-min-5,
.col-min-6,
.col-min-7,
.col-min-8,
.col-min-9,
.col-min-10,
.col-min-11,
.col-min-12 {
  width: 100%;
}
.row {
  zoom: 1;
}
.row:before,
.row:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}
.col-min-1 {
  width: 8.333333333333334%;
}
.col-min-2 {
  width: 16.666666666666668%;
}
.col-min-3 {
  width: 25%;
}
.col-min-4 {
  width: 33.333333333333336%;
}
.col-min-5 {
  width: 41.66666666666667%;
}
.col-min-6 {
  width: 50%;
}
.col-min-7 {
  width: 58.333333333333336%;
}
.col-min-8 {
  width: 66.66666666666667%;
}
.col-min-9 {
  width: 75%;
}
.col-min-10 {
  width: 83.33333333333334%;
}
.col-min-11 {
  width: 91.66666666666667%;
}
.col-min-12 {
  width: 100%;
}
@media only screen and (min-width: 481px) {
  .col-xs-1 {
    width: 8.333333333333334%;
  }
  .col-xs-2 {
    width: 16.666666666666668%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.333333333333336%;
  }
  .col-xs-5 {
    width: 41.66666666666667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.333333333333336%;
  }
  .col-xs-8 {
    width: 66.66666666666667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33333333333334%;
  }
  .col-xs-11 {
    width: 91.66666666666667%;
  }
  .col-xs-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 521px) {
  .col-sd-1 {
    width: 8.333333333333334%;
  }
  .col-sd-2 {
    width: 16.666666666666668%;
  }
  .col-sd-3 {
    width: 25%;
  }
  .col-sd-4 {
    width: 33.333333333333336%;
  }
  .col-sd-5 {
    width: 41.66666666666667%;
  }
  .col-sd-6 {
    width: 50%;
  }
  .col-sd-7 {
    width: 58.333333333333336%;
  }
  .col-sd-8 {
    width: 66.66666666666667%;
  }
  .col-sd-9 {
    width: 75%;
  }
  .col-sd-10 {
    width: 83.33333333333334%;
  }
  .col-sd-11 {
    width: 91.66666666666667%;
  }
  .col-sd-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 641px) {
  .col-xsd-1 {
    width: 8.333333333333334%;
  }
  .col-xsd-2 {
    width: 16.666666666666668%;
  }
  .col-xsd-3 {
    width: 25%;
  }
  .col-xsd-4 {
    width: 33.333333333333336%;
  }
  .col-xsd-5 {
    width: 41.66666666666667%;
  }
  .col-xsd-6 {
    width: 50%;
  }
  .col-xsd-7 {
    width: 58.333333333333336%;
  }
  .col-xsd-8 {
    width: 66.66666666666667%;
  }
  .col-xsd-9 {
    width: 75%;
  }
  .col-xsd-10 {
    width: 83.33333333333334%;
  }
  .col-xsd-11 {
    width: 91.66666666666667%;
  }
  .col-xsd-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) {
  .col-md-1 {
    width: 8.333333333333334%;
  }
  .col-md-2 {
    width: 16.666666666666668%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333333333333336%;
  }
  .col-md-5 {
    width: 41.66666666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333333333336%;
  }
  .col-md-8 {
    width: 66.66666666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333333333334%;
  }
  .col-md-11 {
    width: 91.66666666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 961px) {
  .col-xmd-1 {
    width: 8.333333333333334%;
  }
  .col-xmd-2 {
    width: 16.666666666666668%;
  }
  .col-xmd-3 {
    width: 25%;
  }
  .col-xmd-4 {
    width: 33.333333333333336%;
  }
  .col-xmd-5 {
    width: 41.66666666666667%;
  }
  .col-xmd-6 {
    width: 50%;
  }
  .col-xmd-7 {
    width: 58.333333333333336%;
  }
  .col-xmd-8 {
    width: 66.66666666666667%;
  }
  .col-xmd-9 {
    width: 75%;
  }
  .col-xmd-10 {
    width: 83.33333333333334%;
  }
  .col-xmd-11 {
    width: 91.66666666666667%;
  }
  .col-xmd-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1025px) {
  .col-lg-1 {
    width: 8.333333333333334%;
  }
  .col-lg-2 {
    width: 16.666666666666668%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333333333333336%;
  }
  .col-lg-5 {
    width: 41.66666666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333333333336%;
  }
  .col-lg-8 {
    width: 66.66666666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333333333334%;
  }
  .col-lg-11 {
    width: 91.66666666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1371px) {
  .col-xlg-1 {
    width: 8.333333333333334%;
  }
  .col-xlg-2 {
    width: 16.666666666666668%;
  }
  .col-xlg-3 {
    width: 25%;
  }
  .col-xlg-4 {
    width: 33.333333333333336%;
  }
  .col-xlg-5 {
    width: 41.66666666666667%;
  }
  .col-xlg-6 {
    width: 50%;
  }
  .col-xlg-7 {
    width: 58.333333333333336%;
  }
  .col-xlg-8 {
    width: 66.66666666666667%;
  }
  .col-xlg-9 {
    width: 75%;
  }
  .col-xlg-10 {
    width: 83.33333333333334%;
  }
  .col-xlg-11 {
    width: 91.66666666666667%;
  }
  .col-xlg-12 {
    width: 100%;
  }
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: 1em;
}
body {
  font-family: 'Gotham-Book', 'Verdana';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
p {
  margin-top: 0;
  margin-bottom: 24px;
}
h4,
h3,
h2,
h1 {
  box-sizing: border-box;
  font-weight: inherit;
  margin-bottom: 24px;
  margin-top: 0;
}
h2,
h1 {
  text-align: center;
}
small {
  display: block;
  font-size: 9px;
  line-height: 12px;
}
h4 {
  font-size: 24px;
  line-height: 24px;
}
h3 {
  font-size: 36px;
  line-height: 48px;
}
h2 {
  font-size: 54px;
  line-height: 48px;
}
h1 {
  font-size: 81px;
  line-height: 72px;
}
#app {
  position: relative;
  box-sizing: border-box;
  z-index: 10;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}
#app.extended {
  max-width: 768px;
}
#app.min-device {
  min-height: 730px;
}
.section {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.section.fold {
  padding-bottom: 435px;
}
.section.foot {
  padding-bottom: 120px;
}
.section.extended {
  max-width: 640px;
}
.section.full {
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (min-width: 641px) and (orientation: landscape) {
  .section.foot {
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
  .section.foot {
    padding-bottom: 70px;
  }
}
@media only screen and (max-height: 420px) and (orientation: landscape) {
  .section.foot {
    padding-bottom: 70px;
  }
}
.wrapper {
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  margin: 0 auto;
  min-width: 320px;
  overflow: hidden;
  width: 100%;
}
.wrapper.device-768 {
  max-width: 768px;
}
.wrapper.device-480 {
  max-width: 480px;
}
.wrapper-viewport {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  min-height: 100%;
  overflow: hidden;
}
.wrapper-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 420px;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.wrapper-app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 10;
  overflow: hidden;
}
.wrapper-scroll {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.wrapper-scroll.without-head {
  top: 0;
}
.wrapper-page {
  position: relative;
  min-height: 100%;
}
.wrapper-viewport,
.wrapper-app {
  background-image: url("../img/bg-default.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
  .wrapper-scroll {
    top: 35px;
  }
}
@media only screen and (max-height: 420px) and (orientation: landscape) {
  .wrapper-scroll {
    top: 35px;
  }
}
.btn {
  text-align: center;
  margin: 0 auto;
}
.btn-image {
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  text-align: center;
  margin: 0 auto;
  display: block;
  position: relative;
}
.btn-image img {
  cursor: pointer;
  display: block;
  max-width: 390px;
  width: 100%;
  margin: 0 auto;
}
a.btn,
span.btn {
  display: inline-block;
}
.btn-play {
  width: 330px;
}
.btn-back,
.btn-select,
.btn-more,
.btn-continue {
  width: 260px;
}
.btn-close,
.btn-confirm {
  width: 210px;
}
.btn-skip {
  width: 190px;
}
.btn-group-week {
  text-align: center;
}
.btn-group-week .btn {
  display: inline-block;
  width: 145px;
}
.btn-group {
  text-align: center;
}
.toggle-menu {
  position: absolute;
  top: 14px;
  left: 10px;
  width: 30px;
  cursor: pointer;
}
.toggle-menu span {
  display: block;
  width: 100%;
  height: 3px;
  margin-bottom: 5px;
  background-color: #fff;
  border-radius: 3px;
}
.header {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #461d07;
  box-shadow: 0 0 2px #b5a49b;
  position: relative;
  z-index: 10;
}
.header .title {
  font-family: 'Gotham-Bold';
  text-transform: uppercase;
  color: #fff;
  font-size: 21px;
  line-height: 50px;
  padding: 0 65px;
  box-sizing: border-box;
}
@media only screen and (min-width: 641px) and (orientation: landscape) {
  .header .title {
    text-align: left;
  }
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
  .toggle-menu {
    top: 8px;
  }
  .header {
    height: 35px;
  }
  .header .title {
    font-size: 18px;
    line-height: 35px;
    padding: 0 45px;
  }
}
@media only screen and (max-height: 420px) and (orientation: landscape) {
  .toggle-menu {
    top: 8px;
  }
  .header {
    height: 35px;
  }
  .header .title {
    font-size: 18px;
    line-height: 35px;
    padding: 0 45px;
  }
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
}
.navbar:after {
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  content: " ";
  background-image: url("../img/bg-lines.png");
  opacity: 0.45;
  z-index: -1;
}
.navbar .brand {
  text-align: center;
  padding: 5px 0;
  background-color: #461d07;
  box-sizing: border-box;
}
.navbar .brand img {
  vertical-align: middle;
  display: block;
  margin: 0 auto;
}
.navbar .navbar-scroll {
  position: absolute;
  top: 107px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
  border-bottom: 1px solid #461d07;
}
.navbar ul {
  margin: 0;
  padding: 0;
  padding-bottom: 120px;
  list-style: none;
}
.navbar li {
  margin: 0;
  border-bottom: 1px solid rgba(70,29,7,0.1);
  position: relative;
  padding-left: 25px;
}
.navbar li span {
  display: block;
  padding-top: 5px;
  cursor: pointer;
}
.navbar li img {
  display: block;
}
.navbar .rib-block {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 120px;
  width: 100%;
  background-color: #000;
  background-color: rgba(0,0,0,0.35);
}
@media only screen and (max-width: 420px) {
  .navbar {
    box-sizing: border-box;
    padding-right: 50px;
  }
  .navbar .brand {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar .brand img {
    width: 100%;
  }
  .navbar li {
    padding-left: 15px;
  }
  .navbar li img {
    width: 256px;
  }
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
  .navbar .rib-block {
    height: 70px;
  }
  .navbar .navbar-scroll ul {
    padding-bottom: 70px;
  }
}
@media only screen and (max-height: 420px) and (orientation: landscape) {
  .navbar .rib-block {
    height: 70px;
  }
  .navbar .brand {
    height: 50px;
  }
  .navbar .brand img {
    width: auto;
    height: 100%;
  }
  .navbar .navbar-scroll {
    top: 50px;
  }
  .navbar .navbar-scroll ul {
    padding-bottom: 70px;
  }
}
.hero {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 480px auto;
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  margin-top: 10px;
  padding: 1px 0;
  position: relative;
  text-align: center;
  z-index: 10;
}
.hero p {
  box-sizing: border-box;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  max-width: 420px;
  padding: 0 15px;
  width: 100%;
}
.hero-contact {
  background-image: url("../img/hero-contact.png");
  min-height: 300px;
  position: relative;
  z-index: 0;
}
.hero-week {
  background-image: url("../img/hero-week.png");
  min-height: 300px;
  position: relative;
  z-index: 0;
  margin-top: 20px;
}
.hero-week p {
  max-width: 320px;
}
.hero-winners {
  background-image: url("../img/hero-winners.png");
  min-height: 300px;
  position: relative;
  z-index: 0;
  margin-top: 20px;
}
.hero-winners p {
  max-width: 320px;
}
.hero-prize {
  background-image: url("../img/hero-prize.png");
  height: 302px;
  position: relative;
  z-index: 0;
  margin-top: 20px;
}
.hero-prize p {
  box-sizing: border-box;
}
.hero-block {
  position: relative;
}
.hero-block ul {
  margin: 0;
  padding: 0;
}
.hero-block li {
  list-style: none;
}
.hero-block .bx-controls {
  display: none;
}
.hero-block .bx-wrapper {
  position: relative;
  z-index: 0;
}
.hero-block p {
  margin-left: auto;
  margin-right: auto;
}
.hero-block .hero span {
  color: #fec620;
}
.hero-pagination {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  text-align: center;
}
.hero-pagination .bx-pager-item {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: 0;
}
.hero-pagination .bx-pager-item a {
  display: block;
  text-indent: 999px;
  outline: 0;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid #2b150b;
}
.hero-pagination .bx-pager-item a.active {
  background-color: #fec620;
}
.mechanics-01,
.mechanics-02,
.mechanics-03,
.mechanics-04 {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 480px 318px;
  min-height: 320px;
  position: relative;
  z-index: 0;
}
.mechanics-01 {
  background-image: url("../img/mechanics-01.png");
}
.mechanics-02 {
  background-image: url("../img/mechanics-02.png");
}
.mechanics-03 {
  background-image: url("../img/mechanics-03.png");
}
.mechanics-04 {
  background-image: url("../img/mechanics-04.png");
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
  .hero {
    background-size: 420px auto;
    background-position: center top;
  }
  .hero p {
    margin-top: 130px;
    font-size: 14px;
    line-height: 16px;
  }
  .mechanics-01,
  .mechanics-02,
  .mechanics-03,
  .mechanics-04 {
    min-height: 280px;
  }
}
@media only screen and (max-height: 420px) and (orientation: landscape) {
  .hero {
    background-size: 420px auto;
    background-position: center top;
  }
  .hero p {
    margin-top: 130px;
    font-size: 14px;
    line-height: 16px;
  }
  .mechanics-01,
  .mechanics-02,
  .mechanics-03,
  .mechanics-04 {
    min-height: 280px;
  }
}
.page-title {
  color: #461d07;
  font-family: 'Gotham-Medium';
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 15px;
  padding-top: 25px;
  text-align: center;
}
.page-title .small {
  color: #461d07;
  display: block;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}
.page-title strong,
.page-title b {
  font-family: 'Gotham-Bold';
}
.page-links {
  font-family: 'Gotham-Bold';
  font-size: 14px;
  padding-top: 5px;
  text-align: center;
}
.page-links span {
  color: #461d07;
  padding-bottom: 12px;
}
.page-links a {
  color: #461d07;
}
.page-logo {
  text-align: center;
}
.page-logo img {
  display: block;
  margin: 0 auto;
}
.page-logo .max {
  padding-top: 15px;
}
.page-hero {
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
  padding-top: 25px;
  text-align: center;
  margin-bottom: 15px;
}
.page-hero img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.page-text {
  color: #2b150b;
  font-family: 'Gotham-Medium';
  font-size: 16px;
  line-height: 16px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  text-align: left;
}
.page-center {
  font-family: 'Gotham-Medium';
  font-size: 16px;
  line-height: 16px;
  padding: 10px 15px;
  text-align: center;
  color: #fff;
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
  .page-title {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .page-title .small {
    font-size: 14px;
    line-height: 16px;
  }
  .page-text {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .page-center {
    font-size: 14px;
    line-height: 16px;
  }
  .page-logo img {
    max-width: 144px;
  }
  .page-logo .min {
    max-width: 110px;
  }
  .page-logo .max {
    max-width: 320px;
  }
  .page-logo .bg.bg-badboys {
    width: 192px;
    height: 162px;
    background-size: 192px 162px;
  }
}
@media only screen and (max-height: 420px) and (orientation: landscape) {
  .page-title {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .page-title .small {
    font-size: 14px;
    line-height: 16px;
  }
  .page-text {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .page-center {
    font-size: 14px;
    line-height: 16px;
  }
  .page-logo img {
    max-width: 144px;
  }
  .page-logo .min {
    max-width: 110px;
  }
  .page-logo .max {
    max-width: 320px;
  }
}
.bg {
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bg-lines {
  background-image: url("../img/bg-lines.png");
  background-position: center center;
  opacity: 0.35;
  z-index: 0;
}
.bg-gun {
  background-image: url("../img/bg-gun.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 244px 565px;
}
.bg-brown {
  opacity: 1;
  background-color: #2b150b;
  background-color: rgba(43,21,11,0.85);
}
.bg-chocolate {
  bottom: 0;
  top: auto;
  background-image: url("../img/bg-chocolate.png");
  background-position: center bottom;
  background-size: 618px auto;
  background-repeat: no-repeat;
  max-width: 618px;
  width: 100%;
  margin: 0 auto;
  z-index: -1;
}
.bg-chocolate.bg-large {
  height: 435px;
  background-position: center top;
}
.bg-chocolate.bg-small {
  height: 435px;
  background-position: center bottom;
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
  .bg-chocolate.bg-small {
    background-position: center top;
  }
}
@media only screen and (max-height: 420px) and (orientation: landscape) {
  .bg-chocolate.bg-small {
    background-position: center top;
  }
}
.bg-badboys {
  top: auto;
  bottom: 90px;
  width: 280px;
  height: 280px;
  margin: 0 auto;
  background-image: url("../img/bg-badboys.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 220px auto;
}
.bg-badboys.bg-off {
  position: relative;
  bottom: 0;
  width: 320px;
  height: 320px;
  height: 270px;
  background-position: center top;
  background-size: 270px auto;
}
.bg-group {
  position: relative;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  min-height: 1px;
}
.bg-target {
  top: auto;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
}
.bg-target.bg-target-01 {
  width: 182px;
  height: 201px;
  background-size: 182px 201px;
  background-image: url("../img/target-01.png");
  bottom: 220px;
  right: 0;
  left: auto;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-animation: slideSequenceTarger01 3s 2s infinite;
  animation: slideSequenceTarger01 3s 2s infinite;
}
.bg-target.bg-target-01.bg-off {
  bottom: 340px;
}
.bg-target.bg-target-02 {
  width: 147px;
  height: 151px;
  background-size: 147px 151px;
  background-image: url("../img/target-02.png");
  bottom: 220px;
  left: 15px;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-animation: slideSequenceTarger02 3s 0s infinite;
  animation: slideSequenceTarger02 3s 0s infinite;
}
.bg-target.bg-target-02.bg-off {
  bottom: 340px;
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
  .bg-target.bg-target-01 {
    width: 109px;
    height: 120px;
    background-size: 109px 120px;
  }
  .bg-target.bg-target-01.bg-off {
    bottom: 220px;
  }
  .bg-target.bg-target-02 {
    width: 88px;
    height: 90px;
    background-size: 88px 90px;
  }
  .bg-target.bg-target-02.bg-off {
    bottom: 250px;
  }
}
@media only screen and (max-height: 420px) and (orientation: landscape) {
  .bg-target.bg-target-01.bg-off,
  .bg-target.bg-target-02.bg-off {
    bottom: 220px;
  }
}
.bg-letters {
  top: auto;
  bottom: 100px;
  height: 120px;
  padding: 0 10px;
  box-sizing: border-box;
}
.bg-letters img {
  display: block;
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
  -webkit-animation: pop 0.5s 0s 1;
  animation: pop 0.5s 0s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
  .bg-letters {
    bottom: 50px;
  }
}
@media only screen and (max-height: 420px) and (orientation: landscape) {
  .bg-letters {
    bottom: 50px;
  }
}
.decoration .bg-group {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}
.decoration .bg-group .bg-target {
  bottom: -40px;
}
.terms {
  padding-top: 15px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}
.terms .terms-box {
  text-align: left;
  background-color: #fff;
  border: 1px solid #461d07;
  border-radius: 8px;
  box-sizing: border-box;
  max-height: 350px;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 25px 10px;
  margin-bottom: 24px;
}
.terms .title {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 14px;
  font-family: 'Gotham-Bold';
}
.terms p {
  margin-bottom: 14px;
}
.terms blockquote {
  margin-top: 0;
  margin-left: 10px;
  margin-right: 0;
  margin-bottom: 14px;
}
.terms b,
.terms strong {
  font-family: 'Gotham-Bold';
}
.terms a,
.terms a:link,
.terms a:visited,
.terms a:hover,
.terms a:active {
  color: #461d07;
}
.statistics {
  background-image: url("../img/statistics.png");
  background-repeat: no-repeat;
  background-size: 768px auto;
  background-position: center top;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 35px;
  min-height: 365px;
  color: #fff;
  position: relative;
}
.statistics .social-link {
  position: absolute;
  top: -20px;
  right: 0;
  width: 200px;
  cursor: pointer;
  text-align: center;
}
.statistics .social-link img {
  margin: 0 auto;
  display: block;
  width: 195px;
}
.statistics p {
  text-align: center;
  margin-bottom: 12px;
  font-family: 'Gotham-Book';
  box-sizing: border-box;
}
.statistics .title {
  padding-top: 135px;
  text-align: center;
  color: #fec620;
  font-size: 26px;
  text-transform: uppercase;
}
.statistics .title,
.statistics strong {
  font-family: 'Gotham-Bold';
}
.statistics strong {
  font-size: 20px;
  vertical-align: middle;
}
.statistics .group-btn-statistics {
  text-align: center;
}
.statistics .btn {
  display: inline-block;
  width: 205px;
}
.statistics .statistics-box {
  text-align: center;
  margin-bottom: 18px;
}
.statistics .statistics-box .statistics-item {
  display: inline-block;
  text-align: center;
  margin: 5px 20px;
}
.statistics .statistics-box .statistics-item span {
  font-size: 18px;
  vertical-align: bottom;
}
.statistics .icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center center;
  width: 24px;
  height: 24px;
}
.statistics .icon.icon-star {
  background-image: url("../img/icon-star.png");
}
.statistics .icon.icon-user {
  background-image: url("../img/icon-user.png");
}
.statistics .icon.icon-bullet {
  width: 16px;
  height: 28px;
  background-size: 28px 28px;
  background-image: url("../img/icon-bullet.png");
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
  .statistics .title {
    font-size: 21px;
    line-height: 22px;
  }
  .statistics p {
    font-size: 14px;
    line-height: 16px;
  }
  .statistics .social-link {
    width: 140px;
  }
  .statistics .social-link img {
    width: 135px;
  }
  .statistics .btn {
    width: 145px;
  }
}
@media only screen and (max-height: 420px) and (orientation: landscape) {
  .statistics .title {
    font-size: 21px;
    line-height: 22px;
  }
  .statistics p {
    font-size: 14px;
    line-height: 16px;
  }
  .statistics .social-link {
    width: 140px;
  }
  .statistics .social-link img {
    width: 135px;
  }
  .statistics .btn {
    width: 145px;
  }
}
.form {
  position: relative;
  box-sizing: border-box;
}
.form .control {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.form input[type="text"],
.form textarea {
  border: 1px solid #461d07;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 21px;
  padding-left: 25px;
  padding-right: 15px;
  width: 100%;
}
.form input[type="text"]:focus,
.form textarea:focus {
  outline: none;
  border-width: 3px;
}
.form textarea {
  resize: none;
  padding-top: 10px;
}
.form .label-place {
  position: absolute;
  top: 0;
  right: 15px;
  height: 60px;
  line-height: 60px;
  font-size: 26px;
}
.form .input-msg {
  text-align: right;
  color: #fff;
  padding-top: 3px;
  padding-right: 10px;
}
.form .input-msg span {
  padding: 0 4px;
  background-color: #2b150b;
}
.form .input-msg span.error {
  background-color: #ed1b2e;
}
.form button {
  display: block;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
}
.form button:focus {
  outline: none;
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
  .form input[type="text"],
  .form textarea {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .form .input-msg {
    font-size: 14px;
    line-height: 16px;
  }
  .form .input-msg span {
    padding: 2px 4px;
  }
}
.form-login {
  padding-top: 10px;
  padding-bottom: 1px;
}
.form-login .control {
  margin-bottom: 12px;
}
.form-login input {
  height: 60px;
}
.form-register {
  padding-top: 10px;
  padding-bottom: 1px;
}
.form-register .control {
  margin-bottom: 6px;
}
.form-register input {
  height: 60px;
  line-height: 60px;
}
.form-register .box-check {
  background-color: #fff;
  border: 1px solid #461d07;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px 25px 10px 85px;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  overflow: hidden;
  zoom: 1;
}
.form-register .box-check:before,
.form-register .box-check:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}
.form-register .box-check .box-check-ok {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  border-right: 1px solid #461d07;
  border-right: 1px solid rgba(70,29,7,0.25);
  text-align: center;
  cursor: pointer;
}
.form-register .box-check .box-check-ok span {
  width: 49px;
  height: 100%;
  background-size: 33px 30px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  display: inline-block;
  background-image: url("../img/check-ok.png");
  opacity: 0;
}
.form-register .box-check .box-text {
  float: right;
  color: #2b150b;
  text-align: right;
  vertical-align: middle;
  font-family: 'Gotham-Medium';
}
.form-register .box-check p {
  font-size: 14px;
  margin: 0;
}
.form-register .box-check input:checked ~ .box-check-ok span {
  background-image: url("../img/check-ok.png");
  opacity: 1;
}
@media only screen and (max-width: 420px) {
  .form-register .box-check {
    padding-left: 45px;
  }
  .form-register .box-check .box-check-ok {
    width: 40px;
  }
  .form-register .box-check .box-check-ok span {
    width: 25px;
    background-size: 25px 22px;
  }
  .form-register .box-check p {
    font-size: 11px;
    line-height: 12px;
  }
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
  .form-register input {
    height: 45px;
    line-height: 45px;
  }
}
@media only screen and (max-height: 420px) and (orientation: landscape) {
  .form-register input {
    height: 45px;
    line-height: 45px;
  }
}
.form-contact {
  margin-top: -75px;
  padding-top: 10px;
  padding-bottom: 1px;
}
.form-contact .control {
  margin-bottom: 6px;
}
.form-contact input {
  height: 60px;
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
  .form-contact input {
    height: 45px;
    line-height: 45px;
  }
}
@media only screen and (max-height: 420px) and (orientation: landscape) {
  .form-contact input {
    height: 45px;
    line-height: 45px;
  }
}
.form-code {
  padding-top: 10px;
}
.form-code .group-form {
  text-align: center;
}
.form-code input[type="text"],
.form-code .form-select {
  background-color: #fff;
  border: 6px solid #461d07;
  border-radius: 12px;
  box-sizing: border-box;
  color: #461d07;
  display: inline-block;
  font-size: 18px;
  line-height: 50px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 10px;
  padding: 0 25px;
  position: relative;
  width: 140px;
  height: 60px;
}
.form-code input[type="text"]:focus {
  border-width: 6px;
}
.form-code .form-text {
  text-align: left;
  cursor: pointer;
}
.form-code .form-icon {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  border-left: 1px solid rgba(70,29,7,0.35);
  font-size: 16px;
  text-align: center;
}
.form-code .form-drop {
  border-radius: 8px;
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  background-color: #fff;
  background-color: rgba(255,255,255,0.9);
  max-height: 122px;
  display: none;
  z-index: 10;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.form-code .form-drop.opened {
  display: block;
}
.form-code .form-drop .form-option {
  width: 100%;
  height: 35px;
  font-size: 14px;
  line-height: 35px;
  padding-right: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #461d07;
  border-bottom: 1px solid rgba(70,29,7,0.35);
  cursor: pointer;
}
.form-code .form-drop .form-option:last-child {
  border: none;
}
.form-code .form-drop .form-option:hover {
  background-color: #fff;
}
.form-code .btn {
  padding-top: 10px;
}
.form-code ::-webkit-input-placeholder {
  color: #461d07;
}
.form-code ::-moz-placeholder {
  color: #461d07;
}
.form-code :-ms-input-placeholder {
  color: #461d07;
}
.form-code ::placeholder {
  color: #461d07;
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
  .form-code {
    padding-top: 5px;
  }
  .form-code input[type="text"],
  .form-code .form-select {
    width: 110px;
    height: 45px;
    line-height: 40px;
    padding: 0 10px;
    border-width: 4px;
    margin-bottom: 5px;
  }
  .form-code .form-icon {
    width: 25px;
    border-width: 2px;
  }
  .form-code .form-drop {
    top: 45px;
    max-height: 85px;
  }
  .form-code .form-drop .form-option {
    height: 25px;
    line-height: 25px;
    padding-right: 25px;
  }
  .form-code .btn {
    padding-top: 0;
  }
}
@media only screen and (max-height: 420px) and (orientation: landscape) {
  .form-code {
    padding-top: 5px;
  }
  .form-code input[type="text"],
  .form-code .form-select {
    width: 110px;
    height: 45px;
    line-height: 40px;
    padding: 0 10px;
    border-width: 4px;
    margin-bottom: 5px;
  }
  .form-code .form-icon {
    width: 25px;
    border-width: 2px;
  }
  .form-code .form-drop {
    top: 45px;
    max-height: 85px;
  }
  .form-code .form-drop .form-option {
    height: 25px;
    line-height: 25px;
    padding-right: 25px;
  }
  .form-code .btn {
    padding-top: 0;
  }
}
.panel {
  position: relative;
  margin-bottom: 35px;
  zoom: 1;
}
.panel:before,
.panel:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}
.panel .social-link {
  position: fixed;
  bottom: 15px;
  right: 5px;
  width: 140px;
  cursor: pointer;
  text-align: center;
}
.panel .social-link img {
  margin: 0 auto;
  display: block;
  width: 138px;
}
.panel .panel-col {
  float: left;
  width: 33.333333333333336%;
  min-height: 1px;
}
.panel .panel-box {
  width: 170px;
  height: 170px;
  background-color: #fff;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 25px;
  border: 8px solid #461d07;
  position: relative;
}
.panel ul {
  padding: 0;
  margin: 0;
  display: none;
}
.panel li {
  text-align: center;
  width: 154px;
  height: 154px;
}
.panel li img {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
}
.panel .panel-control {
  position: absolute;
  top: 30px;
  left: -24px;
}
.panel .panel-control .icon {
  width: 40px;
  height: 40px;
  display: block;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
  cursor: pointer;
}
.panel .panel-control .prev .icon {
  background-image: url("../img/icon-up.png");
}
.panel .panel-control .next .icon {
  background-image: url("../img/icon-down.png");
}
.panel .bx-controls {
  display: none;
}
@media only screen and (max-width: 640px) {
  .panel {
    text-align: center;
    margin-bottom: 5px;
  }
  .panel .panel-col {
    margin: 0 10px 20px 10px;
    display: inline-block;
    width: auto;
    float: none;
  }
  .panel .panel-box {
    width: 120px;
    height: 120px;
    border-width: 4px;
  }
  .panel li {
    width: 112px;
    height: 112px;
  }
  .panel .panel-control {
    top: 25px;
    left: -18px;
  }
  .panel .panel-control .icon {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    margin-bottom: 1px;
  }
}
.panel-prize {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 5px;
}
.panel-prize .image {
  max-width: 170px;
  width: 100%;
  margin: 0 auto;
  width: 170px;
  height: 170px;
  margin-bottom: 8px;
}
.panel-prize .image img {
  display: block;
  width: 100%;
}
.panel-prize .text {
  text-align: center;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.55);
  padding: 2px 15px;
  border-radius: 18px;
  margin-bottom: 12px;
  min-width: 120px;
}
.panel-prize .panel-disclaimer {
  text-align: right;
  font-size: 12px;
  color: #461d07;
}
.panel-ready {
  padding-top: 15px;
  margin-bottom: 0;
}
.panel-ready .image {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}
.panel-ready .image img {
  display: block;
  width: 100%;
}
.panel-ready .text {
  font-size: 18px;
  line-height: 22px;
  color: #461d07;
  padding-bottom: 15px;
  text-align: center;
  font-family: 'Gotham-Medium';
}
.panel-ready .text strong,
.panel-ready .text b {
  font-family: 'Gotham-Bold';
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
  .panel-ready .image {
    max-width: 320px;
  }
  .panel-ready .text {
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 0;
  }
}
@media only screen and (max-height: 420px) and (orientation: landscape) {
  .panel-ready .image {
    max-width: 320px;
  }
  .panel-ready .text {
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 0;
  }
}
.panel-allprize {
  position: relative;
}
.panel-allprize .panel-item {
  margin-bottom: 15px;
  text-align: center;
}
.panel-allprize .panel-item .image {
  background-color: #fff;
  border-top: 8px solid #461d07;
  border-bottom: 8px solid #461d07;
  padding: 20px 10px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
.panel-allprize .panel-item .image img {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 320px;
  position: relative;
  z-index: 1;
}
.panel-allprize .panel-item .image:after {
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.15), #fff 55%);
  background: linear-gradient(top, rgba(0,0,0,0.15), #fff 55%);
  top: 60%;
  z-index: 0;
}
.panel-allprize .panel-item .title {
  color: #fff;
  text-align: center;
}
.panel-allprize .panel-item .title span {
  display: inline-block;
  position: relative;
  top: -15px;
  height: 25px;
  background-color: #461d07;
  border-radius: 4px;
  padding: 0 10px;
  font-family: 'Gotham-Book';
}
.table {
  display: table;
}
.table .table-cell {
  display: table-cell;
  vertical-align: middle;
}
table {
  width: 100%;
}
.table-ranking {
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}
.table-ranking .table-header {
  color: #fff;
  background-color: #461d07;
  background-color: rgba(70,29,7,0.6);
}
.table-ranking .table-body {
  color: #886c55;
  text-align: center;
}
.table-ranking .table-body td:first-child,
.table-ranking .table-body td:last-child {
  color: #2b150b;
  font-weight: bold;
}
.table-ranking .table-wrap {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.table-ranking .table-wrap td {
  width: 33.3333333332%;
}
.table-ranking .table-item {
  background-color: #461d07;
  background-color: rgba(70,29,7,0.1);
  margin-bottom: 1px;
}
.table-ranking .table-item.active {
  color: #fff;
  background-color: #461d07;
  background-color: rgba(70,29,7,0.8);
}
.table-winners {
  width: 100%;
  position: relative;
  margin-bottom: 25px;
  font-family: 'Gotham-Medium';
}
.table-winners .table-header {
  color: #fff;
  background-color: #461d07;
  background-color: rgba(70,29,7,0.6);
  font-size: 20px;
}
.table-winners .table-body {
  color: #886c55;
  text-align: center;
}
.table-winners .table-body td:first-child,
.table-winners .table-body td:last-child {
  color: #886c55;
}
.table-winners .table-body td:last-child {
  font-size: 12px;
  font-family: 'Gotham-Book';
}
.table-winners .table-wrap {
  max-width: 336px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.table-winners .table-wrap td {
  width: 50%;
}
.table-winners .table-item:nth-child(odd) {
  background-color: rgba(70,29,7,0.1);
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
  .table-ranking,
  .table-winners {
    margin-bottom: 10px;
  }
}
@media only screen and (max-height: 420px) and (orientation: landscape) {
  .table-ranking,
  .table-winners {
    margin-bottom: 10px;
  }
}
.overlay-device {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #2b150b;
  background-color: rgba(43,21,11,0.85);
  z-index: 195;
  display: none;
}
.overlay-device .overlay-lines {
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../img/bg-lines.png");
  background-position: 52px 85px;
  opacity: 0.25;
  width: 200%;
}
.overlay-device.active {
  display: table;
}
.overlay-device .overlay-content {
  text-align: center;
  color: #fff;
  background-image: url("../img/overlay.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 330px 330px;
  height: 360px;
  position: relative;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}
.overlay-device .overlay-msg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
  .overlay-device .overlay-content {
    background-size: 200px 200px;
    height: 230px;
  }
}
@media only screen and (max-height: 420px) and (orientation: landscape) {
  .overlay-device .overlay-content {
    background-size: 200px 200px;
    height: 230px;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #461d07;
  background-color: rgba(70,29,7,0.75);
  text-align: center;
  z-index: 170;
  display: none;
  padding-bottom: 120px;
}
.modal.active {
  display: table;
}
.modal .modal-lines {
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../img/bg-lines.png");
  opacity: 0.45;
  z-index: -1;
}
.modal .modal-box {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}
.modal .modal-logo {
  max-width: 90px;
  width: 100%;
  margin: 0 auto;
  border: 3px solid #461d07;
  height: 90px;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: #fff;
}
.modal .modal-logo img {
  vertical-align: middle;
}
.modal .modal-text {
  text-align: center;
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 20px;
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
  .modal {
    padding-bottom: 70px;
  }
}
@media only screen and (max-height: 420px) and (orientation: landscape) {
  .modal {
    padding-bottom: 70px;
  }
}
.footer-logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 190px;
  z-index: 200;
}
.footer-logo img {
  display: block;
  width: 100%;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}
.footer-terms {
  position: absolute;
  bottom: 45px;
  left: 0;
  font-family: 'Verdana';
  font-size: 14px;
  max-width: 100%;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 100%;
  z-index: 190;
}
.footer-terms span {
  color: #fff;
  margin: 0 10px;
}
.footer-terms a {
  color: #fff;
}
.footer-terms.hide {
  bottom: -45px;
}
.snapjs-left .footer-terms {
  max-width: 420px;
}
.snapjs-left .footer-terms.hide {
  bottom: 45px;
}
@media only screen and (min-width: 641px) and (orientation: landscape) {
  .footer-terms {
    bottom: 10px;
    font-size: 12px;
  }
  .footer-terms .footer-term {
    display: inline-block;
  }
  .footer-terms .footer-term span {
    margin: 0 5px;
  }
  .snapjs-left .footer-terms {
    bottom: 45px;
  }
  .snapjs-left .footer-terms .footer-term {
    display: block;
  }
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
  .footer-logo {
    width: 120px;
  }
  .footer-terms {
    bottom: 15px;
    font-size: 12px;
  }
  .snapjs-left .footer-terms.hide {
    bottom: 15px;
  }
}
@media only screen and (max-height: 420px) and (orientation: landscape) {
  .footer-logo {
    width: 120px;
  }
  .footer-terms {
    bottom: 15px;
    font-size: 12px;
  }
  .snapjs-left .footer-terms.hide {
    bottom: 15px;
  }
}
.pace {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #ed1b2e;
  height: 4px;
  position: fixed;
  right: 100%;
  top: 0;
  width: 100%;
  z-index: 2000;
}
@-webkit-keyframes slideSequenceTarger01 {
  0% {
    margin-bottom: 0;
  }
  25% {
    -webkit-transform: rotateZ(-35deg);
    transform: rotateZ(-35deg);
  }
  50% {
    margin-bottom: -60px;
  }
  75% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    margin-bottom: 0;
  }
}
@keyframes slideSequenceTarger01 {
  0% {
    margin-bottom: 0;
  }
  25% {
    -webkit-transform: rotateZ(-35deg);
    transform: rotateZ(-35deg);
  }
  50% {
    margin-bottom: -60px;
  }
  75% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    margin-bottom: 0;
  }
}
@-webkit-keyframes slideSequenceTarger02 {
  0% {
    margin-bottom: 0;
  }
  25% {
    margin-bottom: -40px;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  50% {
    left: 40px;
  }
  75% {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  100% {
    margin-bottom: 0;
  }
}
@keyframes slideSequenceTarger02 {
  0% {
    margin-bottom: 0;
  }
  25% {
    margin-bottom: -40px;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  50% {
    left: 40px;
  }
  75% {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  100% {
    margin-bottom: 0;
  }
}
@-webkit-keyframes pop {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pop {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
