/** 
 * Center tag utility
 * 
 * Synopsis:
 * 
 * 		center: <max-width> [boolean]
 * 
 * Example:
 * 		
 * 		center: 768px
 * 		
 * 		yield:
 * 			max-width 768px
 * 			width 100%
 * 			margin 0 auto
 * 		
 * 		center: 768px false
 * 		yield:
 * 			max-width 768px
 * 			width 100%
 * 
 */


center(size, flag = true)
	max-width size
	width 100%
	if flag
		margin 0 auto