/** 
 * Over-block utility
 * 
 * Synopsis:
 * 
 * 		cover()
 * 
 * Example:
 * 		
 * 		.class
 * 			cover()
 * 
 */


cover(pos = 'absolute')
	bottom 0
	content " "
	display block
	left 0
	position unquote(pos)
	right 0
	top 0