// Main global rules

*
	-webkit-tap-highlight-color alpha(#000, 0)
	-webkit-tap-highlight-color transparent

html
	font-size 1em

body
	font-family 'Roboto-Light'
	font-size 16px
	font-weight 400
	line-height 1.5 // 24px

p
	margin-top 0
	margin-bottom 24px
	
h4
h3
h2
h1
	box-sizing border-box
	font-weight inherit
	margin-bottom 24px
	margin-top 0
	
h2
h1
	text-align center
	
small
	display block
	font-size 9px
	line-height 12px

h4
	font-size 24px
	line-height 24px
	
h3
	font-size 36px
	line-height 48px
	
h2
	font-size 54px
	line-height 48px
	
h1
	font-size 81px
	line-height 72px
	
edit()