// Font-face generator

@font-face
	font-family 'Roboto-Light'
	font-source('../fonts/roboto/Roboto-Light')
	font-weight normal
	font-style normal
	
@font-face
	font-family 'Roboto-Bold'
	font-source('../fonts/roboto/Roboto-Bold')
	font-weight normal
	font-style normal
	
@font-face
	font-family 'Roboto-Italic'
	font-source('../fonts/roboto/Roboto-Italic')
	font-weight normal
	font-style normal
	
$roboto-italic
	font-family 'Roboto-Italic'