// Grid system

$columnStyle
	box-sizing border-box
	float left
	min-height 1px
	position relative

$columnInitial
	width 100%

.row
	setup-grid( cols-name, cols )

@media only screen and (min-width 481px)
	generate-grid( 'xs', cols )
	
@media only screen and (min-width 521px)
	generate-grid( 'sd', cols )
	
@media only screen and (min-width 641px)
	generate-grid( 'xsd', cols )
	
@media only screen and (min-width 769px)
	generate-grid( 'md', cols )
	
@media only screen and (min-width 961px)
	generate-grid( 'xmd', cols )
	
@media only screen and (min-width 1025px)
	generate-grid( 'lg', cols )
	
@media only screen and (min-width 1371px)
	generate-grid( 'xlg', cols )