// Main wrapper application

.wrapper
	cover('fixed')
	min-width 320px
	overflow auto
	overflow-x hidden
	-webkit-overflow-scrolling touch
	
.wrapper-page
	absolute: top left
	width 100%
	z-index 1
	min-height 100%