// Helpers class

.hidden
	display none !important
	visibility hidden !important
	
.visibilityHidden
	opacity 0
	
.breakline
	display block

.link
	text-decoration underline
	color inherit
	cursor pointer
	
.text-center
	text-align center
	
.text-left
	text-align left
	
.text-right
	text-align right
	
::selection
	background-color #c6c7c8
	color colorBlack