.bg
	cover()
	
.bg-lines
	background-image url('../img/bg-lines.png')
	background-position center center
	opacity .35
	z-index 0

.bg-gun
	background-image url('../img/bg-gun.png')
	background-repeat no-repeat
	background-position center top
	background-size 244px 565px

.bg-brown
	opacity 1
	background-color colorBrownDark
	background-color alpha(colorBrownDark, .85)
	
.bg-chocolate
	bottom 0
	top auto
	background-image url('../img/bg-chocolate.png')
	background-position center bottom
	background-size 618px auto
	background-repeat no-repeat
	center: 618px
	z-index -1
	&.bg-large
		height 435px
		background-position center top
	&.bg-small
		height 435px
		background-position center bottom

@media only screen and (max-width 420px) and (orientation portrait)
	.bg-chocolate
		&.bg-small
			background-position center top

@media only screen and (max-height 420px) and (orientation landscape)
	.bg-chocolate
		&.bg-small
			background-position center top

.bg-badboys
	top auto
	bottom 90px
	width 280px
	height 280px
	margin 0 auto
	background-image url('../img/bg-badboys.png')
	background-position center
	background-repeat no-repeat
	background-size 220px auto
	&.bg-off
		position relative
		bottom 0
		size: 320px
		height 270px
		background-position center top
		background-size 270px auto
	
.bg-group
	position relative
	center: 480px
	min-height 1px

.bg-target
	top auto
	background-repeat no-repeat
	background-position center
	z-index -2
	&.bg-target-01
		size: 182px 201px
		background-size 182px 201px
		background-image url('../img/target-01.png')
		bottom 220px
		right 0
		left auto
		transform-origin 0 100%
		animation slideSequenceTarger01 3s 2s infinite
		&.bg-off
			bottom 340px
	&.bg-target-02
		size: 147px 151px
		background-size 147px 151px
		background-image url('../img/target-02.png')
		bottom 220px
		left 15px
		transform-origin 100% 100%
		animation slideSequenceTarger02 3s 0s infinite
		&.bg-off
			bottom 	340px

@media only screen and (max-width 420px) and (orientation portrait)
	.bg-target
		&.bg-target-01
			size: 109px 120px
			background-size 109px 120px
			&.bg-off
				bottom 220px
		&.bg-target-02
			size: 88px 90px
			background-size 88px 90px
			&.bg-off
				bottom 250px
			
@media only screen and (max-height 420px) and (orientation landscape)
	.bg-target
		&.bg-target-01.bg-off
		&.bg-target-02.bg-off
			bottom 220px
		
.bg-letters
	top auto
	bottom 100px
	height 120px
	padding 0 10px
	box-sizing border-box
	img
		display block
		center: 420px
		animation pop .5s 0s 1
		animation-fill-mode forwards
		animation-timing-function ease-out
	
@media only screen and (max-width 420px) and (orientation portrait)
	.bg-letters
		bottom 50px
		
@media only screen and (max-height 420px) and (orientation landscape)
	.bg-letters
		bottom 50px

.decoration
	.bg-group
		fixed: bottom left
		right 0
		z-index -2
		.bg-target
			bottom -40px