.footer-logo
	absolute: bottom left
	width 190px
	z-index 200
	img
		display block
		width 100%
		transition width .3s ease-out
	
.footer-terms
	absolute: bottom 45px left
	font-family 'Verdana'
	font-size 14px
	max-width 100%
	right 0
	text-align center
	text-transform uppercase
	transition all .5s ease-out
	width 100%
	z-index 190
	span
		color colorWhite
		margin 0 10px
	a
		color colorWhite
	&.hide
		bottom -45px
		
.snapjs-left
	.footer-terms
		max-width 420px
		&.hide
			bottom 45px
		
@media only screen and (min-width 641px) and (orientation landscape)
	.footer-terms
		bottom 10px
		font-size 12px
		.footer-term
			display inline-block
			span
				margin 0 5px
			
	.snapjs-left
		.footer-terms
			bottom 45px
			.footer-term
				display block
				
@media only screen and (max-width 420px) and (orientation portrait)
	.footer-logo
		width 120px
	.footer-terms
		bottom 15px
		font-size 12px
	.snapjs-left
		.footer-terms.hide
			bottom 15px
		
@media only screen and (max-height 420px) and (orientation landscape)
	.footer-logo
		width 120px
	.footer-terms
		bottom 15px
		font-size 12px
	.snapjs-left
		.footer-terms.hide
			bottom 15px