.toggle-menu
	absolute: top 14px left 10px
	width 30px
	cursor pointer
	span
		display block
		size: 100% 3px
		margin-bottom 5px
		background-color colorWhite
		border-radius 3px
		
.header
	size: 100% 50px
	text-align center
	background-color colorBrown
	box-shadow 0 0 2px tint(colorBrown, 60%)
	position relative
	z-index 10
	.title
		font-family 'Gotham-Bold'
		text-transform uppercase
		color colorWhite
		font-size 21px
		line-height 50px
		padding 0 65px
		box-sizing border-box
		
@media only screen and (min-width 641px) and (orientation landscape)
	.header
		.title
			text-align left
			

@media only screen and (max-width 420px) and (orientation portrait)
	.toggle-menu
		top 8px
		
	.header
		height 35px
		.title
			font-size 18px
			line-height 35px
			padding 0 45px

@media only screen and (max-height 420px) and (orientation landscape)
	.toggle-menu
		top 8px
		
	.header
		height 35px
		.title
			font-size 18px
			line-height 35px
			padding 0 45px