// Hero area

.hero
	background-position center top
	background-repeat no-repeat
	background-size 480px auto
	color colorWhite
	font-size 18px
	line-height 21px
	margin-top 10px
	padding 1px 0
	position relative
	text-align center
	z-index 10
	p
		box-sizing border-box
		margin-bottom 24px
		margin-left auto
		margin-right auto
		margin-top 150px
		max-width 420px
		padding 0 15px
		width 100%
		
.hero-contact
	background-image url('../img/hero-contact.png')
	min-height 300px
	position relative
	z-index 0
	
.hero-week
	background-image url('../img/hero-week.png')
	min-height 300px
	position relative
	z-index 0
	margin-top 20px
	p
		max-width 320px
		
.hero-winners
	background-image url('../img/hero-winners.png')
	min-height 300px
	position relative
	z-index 0
	margin-top 20px
	p
		max-width 320px
		
.hero-prize
	background-image url('../img/hero-prize.png')
	height 302px
	position relative
	z-index 0
	margin-top 20px
	p
		box-sizing border-box
	
.hero-block
	position relative
	ul
		margin 0
		padding 0
	li
		list-style none
	.bx-controls
		display none
	.bx-wrapper
		position relative
		z-index 0
	p
		margin-left auto
		margin-right auto
	.hero span
		color colorYellow

.hero-pagination
	absolute: bottom 30px left
	right 0
	width 100%
	z-index 10
	text-align center
	.bx-pager-item
		display inline-block
		vertical-align middle
		margin 0
		padding 0
		border 0
		a
			display block
			text-indent 999px
			outline 0
			margin 0 5px
			size: 15px
			background-color colorWhite
			border-radius 100%
			border 1px solid colorBrownDark
			&.active
				background-color colorYellow
				
.mechanics-01
.mechanics-02
.mechanics-03
.mechanics-04
	background-repeat no-repeat
	background-position center bottom
	background-size 480px 318px
	min-height 320px
	position relative
	z-index 0
	
.mechanics-01
	background-image url('../img/mechanics-01.png')
.mechanics-02
	background-image url('../img/mechanics-02.png')
.mechanics-03
	background-image url('../img/mechanics-03.png')
.mechanics-04
	background-image url('../img/mechanics-04.png')
	
@media only screen and (max-width 420px) and (orientation portrait)
	.hero
		background-size 420px auto
		background-position center top
		p
			margin-top 130px
			font-size 14px
			line-height 16px
	.mechanics-01
	.mechanics-02
	.mechanics-03
	.mechanics-04
		min-height 280px
		
@media only screen and (max-height 420px) and (orientation landscape)
	.hero
		background-size 420px auto
		background-position center top
		p
			margin-top 130px
			font-size 14px
			line-height 16px
	.mechanics-01
	.mechanics-02
	.mechanics-03
	.mechanics-04
		min-height 280px