.navbar
	absolute: top left
	bottom 0
	right 0
	width 100%
	box-sizing border-box
	
	&:after
		cover()
		content " "
		background-image url('../img/bg-lines.png')
		opacity .45
		z-index -1
	.brand
		text-align center
		padding 5px 0
		background-color colorBrown
		box-sizing border-box
		img
			vertical-align middle
			display block
			margin 0 auto
	.navbar-scroll
		absolute: top 107px left
		right 0
		bottom 0
		width 100%
		overflow auto
		border-bottom 1px solid colorBrown
	ul
		margin 0
		padding 0
		padding-bottom 120px
		list-style none
	li
		margin 0
		border-bottom 1px solid alpha(colorBrown, .1)
		position relative
		padding-left 25px
		span
			display block
			padding-top 5px
			cursor pointer
		img
			display block
	.rib-block
		absolute: bottom left
		right 0
		height 120px
		width 100%
		background-color colorBlack
		background-color alpha(colorBlack, .35)
		
@media only screen and (max-width 420px)
	.navbar
		box-sizing border-box
		padding-right 50px
		.brand
			padding-left 10px
			padding-right 10px
			img
				width 100%
		li
			padding-left 15px
			img
				width 256px
				
@media only screen and (max-width 420px) and (orientation portrait)
	.navbar
		.rib-block
			height 70px
		.navbar-scroll
			ul
				padding-bottom 70px
			
@media only screen and (max-height 420px) and (orientation landscape)
	.navbar
		.rib-block
			height 70px
		.brand
			height 50px
			img
				size: auto 100%
		.navbar-scroll
			top 50px
			ul
				padding-bottom 70px
				