.overlay-device
	fixed top left
	right 0
	size: 100%
	background-color colorBrownDark
	background-color alpha( colorBrownDark, .85 )
	z-index 195
	display none
	.overlay-lines
		cover()
		background-image url('../img/bg-lines.png')
		background-position 52px 85px
		opacity 0.25
		width 200%
	&.active
		display table
	.overlay-content
		text-align center
		color colorWhite
		background-image url('../img/overlay.png')
		background-repeat no-repeat
		background-position center top
		background-size 330px 330px
		height 360px
		position relative
		center: 480px
	.overlay-msg
		absolute: bottom left
		width 100%
		box-sizing border-box
		padding 10px 15px
		
@media only screen and (max-width 420px) and (orientation portrait)
	.overlay-device
		.overlay-content
			background-size 200px 200px
			height 230px
			
@media only screen and (max-height 420px) and (orientation landscape)
	.overlay-device
		.overlay-content
			background-size 200px 200px
			height 230px
