.page-title
	color colorBrown
	font-family 'Gotham-Medium'
	font-size 18px
	line-height 22px
	padding-bottom 15px
	padding-top 25px
	text-align center
	.small
		color colorBrown
		display block
		font-size 16px
		line-height 18px
		text-align center
	strong
	b
		font-family 'Gotham-Bold'
		
	
.page-links
	font-family 'Gotham-Bold'
	font-size 14px
	padding-top 5px
	text-align center
	span
		color colorBrown
		padding-bottom 12px
	a
		color colorBrown
		
.page-logo
	text-align center
	img
		display block
		margin 0 auto
	.max
		padding-top 15px

.page-hero
	center: 420px
	padding-top 25px
	text-align center
	margin-bottom 15px
	img
		display block
		margin 0 auto
		width 100%
		
.page-text
	color colorBrownDark
	font-family 'Gotham-Medium'
	font-size 16px
	line-height 16px
	padding-left 12px
	padding-right 12px
	padding-top 10px
	text-align left

.page-center
	font-family 'Gotham-Medium'
	font-size 16px
	line-height 16px
	padding 10px 15px
	text-align center
	color colorWhite
	
	
@media only screen and (max-width 420px) and (orientation portrait) 
	.page-title
		font-size 14px
		line-height 16px
		padding-bottom 10px
		padding-top 10px
		.small
			font-size 14px
			line-height 16px
	.page-text
		font-size 14px
		line-height 16px
		padding-bottom 10px
		padding-left 0
		padding-right 0
	.page-center
		font-size 14px
		line-height 16px
	.page-logo
		img
			max-width 144px
		.min
			max-width 110px
		.max
			max-width 320px
		.bg.bg-badboys
			size: 192px 162px
			background-size 192px 162px
		
@media only screen and (max-height 420px) and (orientation landscape)
	.page-title
		font-size 14px
		line-height 16px
		padding-bottom 10px
		padding-top 10px
		.small
			font-size 14px
			line-height 16px
	.page-text
		font-size 14px
		line-height 16px
		padding-bottom 10px
		padding-left 0
		padding-right 0
	.page-center
		font-size 14px
		line-height 16px
	.page-logo
		img
			max-width 144px
		.min
			max-width 110px
		.max
			max-width 320px


