.statistics
	background-image url('../img/statistics.png')
	background-repeat no-repeat
	background-size 768px auto
	background-position center top
	center: 768px
	box-sizing border-box
	padding-left 10px
	padding-right 10px
	margin-top 35px
	min-height 365px
	color colorWhite
	position relative
	.social-link
		absolute: top -20px right
		width 200px
		cursor pointer
		text-align center
		img
			margin 0 auto
			display block
			width 195px
	p
		text-align center
		margin-bottom 12px
		font-family 'Gotham-Book'
		box-sizing border-box
	.title
		padding-top 135px
		text-align center
		color colorYellow
		font-size 26px
		text-transform uppercase
	.title
	strong
		font-family 'Gotham-Bold'
	strong
		font-size 20px
		vertical-align middle
	.group-btn-statistics
		text-align center
	.btn
		display inline-block
		width 205px
		
	.statistics-box
		text-align center
		margin-bottom 18px
		.statistics-item
			display inline-block
			text-align center
			margin 5px 20px
			span
				font-size 18px
				vertical-align bottom
			
	.icon
		display inline-block
		vertical-align middle
		background-repeat no-repeat
		background-size 24px 24px
		background-position center center
		size: 24px
		&.icon-star
			background-image url('../img/icon-star.png')
		&.icon-user
			background-image url('../img/icon-user.png')
		&.icon-bullet
			size: 16px 28px
			background-size 28px 28px
			background-image url('../img/icon-bullet.png')
	
@media only screen and (max-width 420px) and (orientation portrait)
	.statistics
		.title
			font-size 21px
			line-height 22px
		p
			font-size 14px
			line-height 16px
		.social-link
			width 140px
			img 
				width 135px
		.btn
			width 145px
			
@media only screen and (max-height 420px) and (orientation landscape)
	.statistics
		.title
			font-size 21px
			line-height 22px
		p
			font-size 14px
			line-height 16px
		.social-link
			width 140px
			img 
				width 135px
		.btn
			width 145px