.terms
	padding-top 15px
	font-size 12px
	line-height 14px
	text-align center
	.terms-box
		text-align left
		background-color colorWhite
		border 1px solid colorBrown
		border-radius 8px
		box-sizing border-box
		max-height 350px
		overflow auto
		overflow-x hidden
		-webkit-overflow-scrolling touch
		padding 25px 10px
		margin-bottom 24px
		
	.title
		font-size 14px
		line-height 16px
		margin-bottom 14px
		font-family 'Gotham-Bold'
	p
		margin-bottom 14px
		
	blockquote
		margin-top 0
		margin-left 10px
		margin-right 0
		margin-bottom 14px
		
	b
	strong
		font-family 'Gotham-Bold'
		
	a
	a:link
	a:visited
	a:hover
	a:active
		color colorBrown
		