html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
b,
strong {
  font-weight: bold;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.visibilityHidden {
  opacity: 0;
}
.breakline {
  display: block;
}
.link {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
::-moz-selection {
  background-color: #c6c7c8;
  color: #000;
}
::selection {
  background-color: #c6c7c8;
  color: #000;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/roboto/Roboto-Light.eot");
  src: url("../fonts/roboto/Roboto-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/roboto/Roboto-Light.woff") format('woff'), url("../fonts/roboto/Roboto-Light.ttf") format('truetype'), url("../fonts/roboto/Roboto-Light.svg") format('svg');
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/roboto/Roboto-Bold.eot");
  src: url("../fonts/roboto/Roboto-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/roboto/Roboto-Bold.woff") format('woff'), url("../fonts/roboto/Roboto-Bold.ttf") format('truetype'), url("../fonts/roboto/Roboto-Bold.svg") format('svg');
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Italic';
  src: url("../fonts/roboto/Roboto-Italic.eot");
  src: url("../fonts/roboto/Roboto-Italic.eot?#iefix") format('embedded-opentype'), url("../fonts/roboto/Roboto-Italic.woff") format('woff'), url("../fonts/roboto/Roboto-Italic.ttf") format('truetype'), url("../fonts/roboto/Roboto-Italic.svg") format('svg');
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
  font-style: normal;
}
.row .col-xlg-1,
.row .col-xlg-2,
.row .col-xlg-3,
.row .col-xlg-4,
.row .col-xlg-5,
.row .col-xlg-6,
.row .col-xlg-7,
.row .col-xlg-8,
.row .col-xlg-9,
.row .col-xlg-10,
.row .col-xlg-11,
.row .col-xlg-12,
.row .col-lg-1,
.row .col-lg-2,
.row .col-lg-3,
.row .col-lg-4,
.row .col-lg-5,
.row .col-lg-6,
.row .col-lg-7,
.row .col-lg-8,
.row .col-lg-9,
.row .col-lg-10,
.row .col-lg-11,
.row .col-lg-12,
.row .col-xmd-1,
.row .col-xmd-2,
.row .col-xmd-3,
.row .col-xmd-4,
.row .col-xmd-5,
.row .col-xmd-6,
.row .col-xmd-7,
.row .col-xmd-8,
.row .col-xmd-9,
.row .col-xmd-10,
.row .col-xmd-11,
.row .col-xmd-12,
.row .col-md-1,
.row .col-md-2,
.row .col-md-3,
.row .col-md-4,
.row .col-md-5,
.row .col-md-6,
.row .col-md-7,
.row .col-md-8,
.row .col-md-9,
.row .col-md-10,
.row .col-md-11,
.row .col-md-12,
.row .col-xsd-1,
.row .col-xsd-2,
.row .col-xsd-3,
.row .col-xsd-4,
.row .col-xsd-5,
.row .col-xsd-6,
.row .col-xsd-7,
.row .col-xsd-8,
.row .col-xsd-9,
.row .col-xsd-10,
.row .col-xsd-11,
.row .col-xsd-12,
.row .col-sd-1,
.row .col-sd-2,
.row .col-sd-3,
.row .col-sd-4,
.row .col-sd-5,
.row .col-sd-6,
.row .col-sd-7,
.row .col-sd-8,
.row .col-sd-9,
.row .col-sd-10,
.row .col-sd-11,
.row .col-sd-12,
.row .col-xs-1,
.row .col-xs-2,
.row .col-xs-3,
.row .col-xs-4,
.row .col-xs-5,
.row .col-xs-6,
.row .col-xs-7,
.row .col-xs-8,
.row .col-xs-9,
.row .col-xs-10,
.row .col-xs-11,
.row .col-xs-12 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  position: relative;
}
.col-columnsName-1,
.col-columnsName-2,
.col-columnsName-3,
.col-columnsName-4,
.col-columnsName-5,
.col-columnsName-6,
.col-columnsName-7,
.col-columnsName-8,
.col-columnsName-9,
.col-columnsName-10,
.col-columnsName-11,
.col-columnsName-12 {
  width: 100%;
}
.row {
  zoom: 1;
}
.row:before,
.row:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}
@media only screen and (min-width: 481px) {
  .col-xs-1 {
    width: 8.333333333333334%;
  }
  .col-xs-2 {
    width: 16.666666666666668%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.333333333333336%;
  }
  .col-xs-5 {
    width: 41.66666666666667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.333333333333336%;
  }
  .col-xs-8 {
    width: 66.66666666666667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33333333333334%;
  }
  .col-xs-11 {
    width: 91.66666666666667%;
  }
  .col-xs-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 521px) {
  .col-sd-1 {
    width: 8.333333333333334%;
  }
  .col-sd-2 {
    width: 16.666666666666668%;
  }
  .col-sd-3 {
    width: 25%;
  }
  .col-sd-4 {
    width: 33.333333333333336%;
  }
  .col-sd-5 {
    width: 41.66666666666667%;
  }
  .col-sd-6 {
    width: 50%;
  }
  .col-sd-7 {
    width: 58.333333333333336%;
  }
  .col-sd-8 {
    width: 66.66666666666667%;
  }
  .col-sd-9 {
    width: 75%;
  }
  .col-sd-10 {
    width: 83.33333333333334%;
  }
  .col-sd-11 {
    width: 91.66666666666667%;
  }
  .col-sd-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 641px) {
  .col-xsd-1 {
    width: 8.333333333333334%;
  }
  .col-xsd-2 {
    width: 16.666666666666668%;
  }
  .col-xsd-3 {
    width: 25%;
  }
  .col-xsd-4 {
    width: 33.333333333333336%;
  }
  .col-xsd-5 {
    width: 41.66666666666667%;
  }
  .col-xsd-6 {
    width: 50%;
  }
  .col-xsd-7 {
    width: 58.333333333333336%;
  }
  .col-xsd-8 {
    width: 66.66666666666667%;
  }
  .col-xsd-9 {
    width: 75%;
  }
  .col-xsd-10 {
    width: 83.33333333333334%;
  }
  .col-xsd-11 {
    width: 91.66666666666667%;
  }
  .col-xsd-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) {
  .col-md-1 {
    width: 8.333333333333334%;
  }
  .col-md-2 {
    width: 16.666666666666668%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333333333333336%;
  }
  .col-md-5 {
    width: 41.66666666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333333333336%;
  }
  .col-md-8 {
    width: 66.66666666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333333333334%;
  }
  .col-md-11 {
    width: 91.66666666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 961px) {
  .col-xmd-1 {
    width: 8.333333333333334%;
  }
  .col-xmd-2 {
    width: 16.666666666666668%;
  }
  .col-xmd-3 {
    width: 25%;
  }
  .col-xmd-4 {
    width: 33.333333333333336%;
  }
  .col-xmd-5 {
    width: 41.66666666666667%;
  }
  .col-xmd-6 {
    width: 50%;
  }
  .col-xmd-7 {
    width: 58.333333333333336%;
  }
  .col-xmd-8 {
    width: 66.66666666666667%;
  }
  .col-xmd-9 {
    width: 75%;
  }
  .col-xmd-10 {
    width: 83.33333333333334%;
  }
  .col-xmd-11 {
    width: 91.66666666666667%;
  }
  .col-xmd-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1025px) {
  .col-lg-1 {
    width: 8.333333333333334%;
  }
  .col-lg-2 {
    width: 16.666666666666668%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333333333333336%;
  }
  .col-lg-5 {
    width: 41.66666666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333333333336%;
  }
  .col-lg-8 {
    width: 66.66666666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333333333334%;
  }
  .col-lg-11 {
    width: 91.66666666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1371px) {
  .col-xlg-1 {
    width: 8.333333333333334%;
  }
  .col-xlg-2 {
    width: 16.666666666666668%;
  }
  .col-xlg-3 {
    width: 25%;
  }
  .col-xlg-4 {
    width: 33.333333333333336%;
  }
  .col-xlg-5 {
    width: 41.66666666666667%;
  }
  .col-xlg-6 {
    width: 50%;
  }
  .col-xlg-7 {
    width: 58.333333333333336%;
  }
  .col-xlg-8 {
    width: 66.66666666666667%;
  }
  .col-xlg-9 {
    width: 75%;
  }
  .col-xlg-10 {
    width: 83.33333333333334%;
  }
  .col-xlg-11 {
    width: 91.66666666666667%;
  }
  .col-xlg-12 {
    width: 100%;
  }
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: 1em;
}
body {
  font-family: 'Roboto-Light';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
p {
  margin-top: 0;
  margin-bottom: 24px;
}
h4,
h3,
h2,
h1 {
  box-sizing: border-box;
  font-weight: inherit;
  margin-bottom: 24px;
  margin-top: 0;
}
h2,
h1 {
  text-align: center;
}
small {
  display: block;
  font-size: 9px;
  line-height: 12px;
}
h4 {
  font-size: 24px;
  line-height: 24px;
}
h3 {
  font-size: 36px;
  line-height: 48px;
}
h2 {
  font-size: 54px;
  line-height: 48px;
}
h1 {
  font-size: 81px;
  line-height: 72px;
}
html {
  background-image: url("http://basehold.it/i/24");
}
* {
  background-color: rgba(0,0,0,0.075);
}
#app {
  position: relative;
  padding: 24px;
  box-sizing: border-box;
}
.section {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.wrapper {
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  min-width: 320px;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.wrapper-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  min-height: 100%;
}
.table {
  display: table;
}
.table .table-cell {
  display: table-cell;
}
.pace {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #444;
  height: 2px;
  position: fixed;
  right: 100%;
  top: 0;
  width: 100%;
  z-index: 2000;
}
