@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/gotham/Gotham-Book.eot");
  src: url("../fonts/gotham/Gotham-Book.eot?#iefix") format('embedded-opentype'), url("../fonts/gotham/Gotham-Book.woff") format('woff'), url("../fonts/gotham/Gotham-Book.ttf") format('truetype'), url("../fonts/gotham/Gotham-Book.svg") format('svg');
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/gotham/Gotham-Bold.eot");
  src: url("../fonts/gotham/Gotham-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/gotham/Gotham-Bold.woff") format('woff'), url("../fonts/gotham/Gotham-Bold.ttf") format('truetype'), url("../fonts/gotham/Gotham-Bold.svg") format('svg');
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
  font-style: normal;
}

/*body {
    font-family: "Gotham-Book";
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    margin: 0;
    background-image: rgba(0, 0, 0, 0) url("../img/fondo.jpg")  scroll 0 0;
    
    background-repeat: repeat;
}
*/


body {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/fondo.jpg");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    font-family: "Gotham-Book";
    height: 100%;
    left: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    position: relative;
    top: 0;
    width: 100%;
}

section#al_chocoleche {   
    min-height: 800px;
    position: relative;
    width: 100%;
    z-index: 0;
    height: auto;
}



footer {
    height: 200px;
    position: relative;
    display: block;
    z-index: -1;
    clear: both;
}


.derecha {
    float: right;
}

.back_leche {
   /* background: rgba(0, 0, 0, 0) url("../img/leche.png") no-repeat scroll 0 0 / cover ;*/
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/leche.png");
    background-origin: padding-box;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    opacity: 0.81;
    position: fixed;
    width: 100%;
    z-index: -1;
}

.menu_choc a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Gotham-Bold";
}

.menu_choc li {
    display: inline;
    padding-right: 18px;
}
ul.menu_choc {
    text-align: center;

}



header {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #301506;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    display: block;
    padding-bottom: 4px;
    padding-top: 4px;
    position: relative;
    width: 100%;
}


#al_contenido > div#logo {
    display: block;
    margin-top:33px;
    text-align: center;
}


#al_chocoleche > div#al_contenido {
    color: #421e0e;
    display: block;
    margin: 15px auto 0;
    overflow: hidden;
    position: relative;
    width: 726px;
    overflow: unset;
}

#al_contenido > img[alt="registro"] {
    width: 24%;
}

#al_form_choco .campo_reg {
    float: left;
    height: 45px;
    margin-bottom: 25px;
    margin-right: 31px;
    width: 332px;
}


#al_form_choco .campo_reg > input {
    border: medium solid #301506;
    border-radius: 8px;
    font-family: "Gotham-Book";
    font-size: 15.3px;
    height: 93%;
    padding-left: 17px;
    width: 100%;
}


#al_form_choco .campo_reg .input-msg {
    font-size: 12.3px;
    padding-left: 17px;
    font-family: "Gotham-Bold";

}

#al_form_choco .campo_reg .input-msg .hidden{
    display: none;
}

#al_form_choco .campo_dividido.nor {
    background: white none repeat scroll 0 0;
    border: medium solid #301506;
    border-radius: 8px;
    float: left;
    height: 38px;
    margin-bottom: 0;
    margin-right: 1%;
    padding-top: 9px;
    width: 349px;
}


#al_form_choco .campo_dividido {
    background: white none repeat scroll 0 0;
    border: medium solid #301506;
    border-radius: 8px;
    float: left;
    height: 38px;
    margin-bottom: 15px;
    margin-right: 1%;
    padding-top: 9px;
    width: 349px;
}


.campo_dividido.nor > input {
    border: medium none;
    color: #c3c0bf;
    font-size: 15px;
    padding-left: 15px;
    width: 45%;
}

#al_form_choco > input::-webkit-input-placeholder {
   color: #c3c0bf;
}

#al_form_choco > input:-moz-placeholder { /* Firefox 18- */
   color: #c3c0bf;
}

#al_form_choco > input::-moz-placeholder {  /* Firefox 19+ */
   color: #c3c0bf;
}

#al_form_choco > input:-ms-input-placeholder {
    color: #c3c0bf;
}

#al_contenido label {
    color: #c3c0bf;
    font-size: 15.3px;
    position: relative;
}


#al_contenido .campo_dividido.che {
    padding-top: 0;
}

#al_form_choco .box-check {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 3px 0 0 30px;
     height: 100%;
     position: relative;
}


#al_chocoleche input[type="checkbox"] {
    display: none;
}


#al_chocoleche .box-check > p {
    color: black;
    font-size: 12px;
    margin-left: 39px;
    margin-top: 0;
}
#al_chocoleche .box-check-ok {
    border-right: 1px solid rgba(70, 29, 7, 0.25);
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 56px;
}


/*#al_chocoleche .form-register .box-check input:checked + .box-check-ok span {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/check-ok.png");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 23px 23px;
    opacity: 1;
}*/

#al_chocoleche .form-register .box-check .box-check-ok span {
    background-image: url("../../img/check-ok.png");
    background-size: 33px 30px;
    display: inline-block;
    height: 100%;
    opacity: 0;
    vertical-align: middle;
    width: 49px;
}

.campo_dividido.che > input {
    display: inline-block;
    width: 10%;
}

#al_form_choco > .centrado input#al_eviar_reg {
    /*background: rgba(0, 0, 0, 0) url("../img/regis.png") no-repeat scroll 0 0;*/

    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/regis.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;

    border: medium none;
    cursor: pointer;
    height: 43px;
    width: 261px;
    color: transparent;
}

#al_form_choco .centrado {
    text-align: center;
}

.al_texto > p {
    color: white;
    font-size: 13px;
    text-shadow: 1px 1px 3px black;
}

.al_logo_choco {
    position: fixed;
    right: 0;
}


footer div {
    bottom: 0px;
}


.al_texto {
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 38px;
    z-index: 2;
}

 .al_texto a,
 .al_texto a:visited{
    color:inherit;
}

.al_logo_al{
    position: fixed;
    left: 0;
}

footer div img {
    display: block;
    width: 82%;
}

#al_chocoleche .al_recuerde {
    font-size: 11.2px;
}



#al_chocoleche .campo_dividido.nor > label {
    color: #421e0e;
    margin-left: 15px;
}

.al_logo_choco > img {
    float: right;
}


.al_dis_contenido {
    margin: 49px auto 0;
    
}

.d_login.al_dis_contenido {
   /* position: absolute;*/
    text-align: center;
    width: 100%;
}
/*inicio contactenos*/

.al_contactenos #al_form_choco > .centrado input#al_eviar_reg {
    /*background: rgba(0, 0, 0, 0) url("../img/al_enviar.png") no-repeat scroll 0 0;*/
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/al_enviar.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: right;
}

.al_contactenos textarea {
    border: medium solid #301506;
    border-radius: 8px;
    color: #c3c0bf;
    font-family: "Gotham-Book";
    height: 128px;
    margin-bottom: 30px;
    padding-left: 11px;
    padding-top: 11px;
    width: 96.9%;
}


.al_contactenos #al_form_choco .campo_reg > input.tercio {
    margin-bottom: 5px;
    width: 213px;
    margin-right: 5px;
}


.al_contactenos #al_form_choco .campo_reg {
    float: left;
    height: 45px;
    margin-bottom: 25px;
    margin-right: 0;
    width: auto;
    text-shadow: 1px 1px 3px #ede4c9;
}



/*fin contactenos*/

/*inicio ranking*/

.al_ranking table {
    text-align: center;
    width: 100%;
}


tr#tab_main {
    background: #86694a none repeat scroll 0 0;
    color: white;
    border-bottom:none;
     height: 35px;
}


tr#tab_tu {
    background: #64432b none repeat scroll 0 0;
    color: white;
    border-bottom:none;

}
tr{

border-bottom: 1px solid #886c55;
}

/*td.tab_cen{
   color:#886c55;
}*/

.al_ranking tr td {
    text-shadow: 1px 1px 3px #ece3c5;
}

table{
    border-collapse: collapse;
}


.al_ranking td {
    width: 69px;
}

#tab_main img {
    margin-right: 12px;
    width: 13px;
}
/*fin ranking*/




#al_form_choco .al_campo_cod > input {
    border: medium solid #301506;
    border-radius: 8px;
    float: left;
    font-family: "Gotham-Book";
    font-size: 15.3px;
    height: 45px;
    margin-bottom: 15px;
    margin-right: 1%;
    overflow: hidden;
    padding-left: 17px;
    width: 49%;
}

.al_campo_cod {
   
    display: block;
    width: 332px;
}

.al_codigos .al_campo_cod select {
    background: rgba(0, 0, 0, 0) url("../img/al_sele2.png") no-repeat scroll 98px -6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: medium none;
    height: 45px;
    display: block;  
    padding-left: 6px;
    width: 178px;
}


.nselec {
    background: white none repeat scroll 0 0;
    border: medium solid #301506;
    border-radius: 8px;
    float: left;    
    display: block;
    margin-bottom: 6px;
    margin-right: 5px;
    overflow: hidden;
    width: 155px;
}


.al_dis_contenido.al_codigos div#al_form_choco {
    float: left;
    width: 47%;
}


.der_img {
    float: left;
    width: 52%;    
}


.der_img > img {
    width: 100%;
}

#al_chocoleche .al_codigos .centrado > input{
   /* background: rgba(0, 0, 0, 0) url("../img/al_confir.png") no-repeat scroll 0 0;*/
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/al_confir.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: right;
    border: medium none;
    color: transparent;
    cursor: pointer;
    height: 43px;
    width: 261px;
}


.al_codigos form {
    height: 298px;
}



section#al_alertas2 {
   /* background: rgba(0, 0, 0, 0) url("../img/back_alert.png") repeat scroll 0 0 / cover ;*/

   background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/back_alert.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    display: none;
}


.al_codigos #al_form_choco .al_campo_cod > input {
    width: 138px;
}


/******************/



#al_alertas2 .contenedro_alerta {
    color: white;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 750px;
    z-index: 100;
}



#al_alertas2 footer {    
    z-index: 0;
}


#al_alertas2 .al_texto {
    position: fixed;
}


#al_alertas2 .al_texto > p {
    font-size: 60%;
}

#al_alertas2 .contenedro_alerta > div#cerrar {
    color: white;
    font-size: 12px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 22px;
}

#al_alertas2 .btnface a > img {
    width: 145px;
}


#al_alertas2 .btnface {
    position: absolute;
    right: 0;
    top: 101px;
}


#al_alertas2 .imagen > img {
    width: 97px;
}

#al_alertas2 h2 {
    color: #fabd2e;
    font-family: "Gotham-Bold";
    text-transform: uppercase;
}


#al_alertas2 .func_text > p {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 82%;
}


#al_alertas2 .oppopu > li {
    display: inline;
}


#al_alertas2 .oppopu p {
    display: inline;
}
#al_alertas2 .oppopu img {
    margin-left: 19px;
    margin-right: 5px;
    width: 28px;
}
#al_alertas2 .oppopu li:first-child img {
    width: 19px;
}

#al_alertas2 .oppopu p {
    display: inline;
    font-size: 24px;
    font-weight: bold;
}


#al_alertas2 .oppopu span {
    font-size: 22px;
    font-weight: lighter;
}

#al_alertas2 .savora > li {
    display: inline;
}


#al_alertas2 .savora a {
    color: #2b150b;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding-top: 9px;
    text-decoration: none;
    font-family: "Gotham-Bold";
}


#al_alertas2 .savora > li {
    /*background: rgba(0, 0, 0, 0) url("../img/al_botones.png") repeat scroll 0 0;*/
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/al_botones.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;

    display: inline-block;
    height: 44px;
    position: relative;
    width: 229px;
}


#al_alertas2 .savora {
    margin-top: 30px;
}


#al_alertas2 #cerrar > a span {
    border: medium solid;
    border-radius: 79px;
    font-weight: bold;
    padding: 2px 6px 2px 5px;
}


#al_alertas2 #cerrar > a {
    color: white;
    text-decoration: none;
}
/**galeria**/



#al_chocoleche .galeria .bx-next {
    background: rgba(0, 0, 0, 0) url("../img/controls.png") no-repeat scroll -29px center / cover ;
}

#al_chocoleche .galeria .bx-prev {
    background: rgba(0, 0, 0, 0) url("../img/controls.png") no-repeat scroll -0px center / cover ;
}


#al_chocoleche .galeria .cont_gal {

    text-align: center;
}


#al_chocoleche .galeria .cont_gal > p {
    margin: 0 auto;
    text-align: center;
    width: 465px;
}


#al_chocoleche .galeria .cont_gal > img {
    margin: 0 auto 14px;
    text-align: center;
    width: 100px;
}

ul.bxslider {
    display: none;
    
}


.bx-wrapper .bx-viewport{
height: 211px !important;

}

#al_chocoleche .terminos {
    background: white none repeat scroll 0 0;
    border: medium none;
    display: block;
    height: 255px;
    /*padding-left: 22px;*/
    width: 100%;
}
#al_chocoleche .tabs_semana {
    background: #57331b none repeat scroll 0 0;
    height: 34px;
    margin: 0;
    padding-top: 12px;
    text-align: center;
}


/*#al_chocoleche .tabs_semana .sem {
    display: inline;
    margin-right: 14px;
}*/


iframe {
    display: none;
}



#al_chocoleche .tabs_semana .sem {
    display: inline;
    margin-right: 14px;
    width: 55px;
}
#al_chocoleche .tabs_semana .sem.ui-state-active a {
    color:white;

}

#al_chocoleche .tabs_semana .sem a {
    color:#a29274;
    text-decoration: none;

}

#tabs{
    display: none;
}



#al_chocoleche .eshora {
    text-align: center;
}


#al_chocoleche .eshora a,
#al_chocoleche .eshora button[type="submit"] {
    /*background: rgba(0, 0, 0, 0) url("../img/al_botones.png") repeat scroll 0 0;*/
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/al_botones.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    display: inline-block;
    height: 45px;
    position: relative;
    width: 231px;
    color: #2b150b;
    font-size: 18px;
    font-weight: bold;
    padding-top: 9px;
    text-decoration: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}


#al_chocoleche .eshora span {
    font-weight: bold;
}

/*premios*/

#al_chocoleche .todos_premios input[type="checkbox"],
#al_chocoleche .todos_premios input[type="radio"] {
    display: block;
    margin-left: 113px;
    position: absolute;
    top: 0;
}

.cont_premios {
   /* background: rgba(0, 0, 0, 0) url("../img/al_pre_cont.png") no-repeat scroll 0 0 / 100% 124px;*/
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/al_pre_cont.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 124px;
    display: block;
    height: 164px;
    margin-bottom: 18px;
    position: relative;
    width: 100%;
}
.premios > li {
    display: inline-block;
    width: 15%;
}

.premios {
    display: inline;
}


.text_prem {
    background: #421e0e none repeat scroll 0 0;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    height: 22px;
    overflow: hidden;
    padding-top: 5px;
    text-align: center;
    width: 144px;
}

.img_pre > img {
    width: 100%;
}


.img_pre {
    height: 81px;
    margin: 0 auto 43px;
    width: 140px;
}


.cat_pre {
    display: inline-block;
    left: 31px;
    margin: 0 0 0 22px;
    position: relative;
    top: -83px;
    width: 123px;
}

.cat_pre > img {
    width: 80%;
}

#al_chocoleche > div#al_contenido.classmil {
    width: 950px;
}

 .derecha input#al_eviar_reg {
    background: rgba(0, 0, 0, 0) url("../img/al_enviar.png") no-repeat scroll 0 0;
    border: medium none;
    color: transparent;
    cursor: pointer;
    height: 43px;
    width: 261px;    
}
/*login*/






#al_chocoleche .desk_login {
   /* background: rgba(0, 0, 0, 0) url("../img/back_login.png") no-repeat scroll -4px -8px / 50% 100%;*/
   background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/back_login.png");
    background-origin: padding-box;
    background-position: -4px -8px;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    height: 58px;
    width: 100%;
}

#al_form_choco > img {
    float: left;
    margin-left: 13px;
    margin-right: 16px;
    margin-top: 8px;
}

.desk_login #al_form_choco .campo_reg {
    width: 21%;
}


.desk_login #al_form_choco .campo_reg {
    height: 38px;
    margin-top: 3px;
    width: 18%;
}


.desk_login #al_form_choco .campo_reg > input {
    font-size: 12px;
}


.desk_login #al_form_choco .nolog > input#ing_login {
    /*background: rgba(0, 0, 0, 0) url("../img/al_botones.png") no-repeat scroll 0 0 / cover ;*/

    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/al_botones.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;

    border: medium none;
    cursor: pointer;
    float: left;

    font-size: 15px;

    height: 38px;
    margin-top: 7px;
    text-transform: capitalize;
    width: 196px;
     font-family: "Gotham-Bold";
}


.desk_login #al_form_choco > .nolog > div#reg_login {
    /*background: rgba(0, 0, 0, 0) url("../img/btn_red.png") no-repeat scroll 0 0 / cover ;*/
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/btn_red.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    height: 38px;
    margin-top: 7px;
    text-transform: capitalize;
    width: 196px;
}

.nolog > div#reg_login > a {
    color: white;
    display: block;
    font-size: 15px;
    height: 100%;
    padding-top: 8px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-family: "Gotham-Bold";
}

.desk_login form {
   /* background: rgba(0, 0, 0, 0) url("../img/back_login.png") no-repeat scroll 0 -6px / 858px 56px;*/
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/back_login.png");
    background-origin: padding-box;
    background-position: 0 -6px;
    background-repeat: no-repeat;
    background-size: 858px 56px;
    height: 65px;
    margin: 0 auto;
    width: 894px;
}


/*.cont_login_desk {
    font-weight: bold;
    height: 44px;
    position: absolute;
    width: 100%;
}*/


.cont_login_desk {
    font-weight: bold;
    height: 44px;
    padding-top: 18px;
   
}


.cont_login_desk > a {
   /* background: rgba(0, 0, 0, 0) url("../img/al_botones.png") no-repeat scroll 0 0 / 100% 44px;*/
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/al_botones.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 44px;
    color: #301506;
    display: block;
    font-family: "Gotham-Bold";
    font-size: 19px;
    height: 100%;
    margin: 0 auto;
    padding-top: 8px;
    text-align: center;
    text-decoration: none;
    width: 238px;
}



.desk_login p {
    margin-left: 18px;
    margin-top: 52px;
    position: absolute;
    z-index: 55;
}


#userNameError.error {
    font-size: 13px;
}

.desk_login p a {
    color: #301506;
    font-family: "Gotham-Bold";
    font-size: 13px;
}

.log_img > img {
    display: block;
   
    width: 100%;
}
#al_chocoleche .mod_footer .back_leche {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    z-index: 0;
}

#al_chocoleche footer.mod_footer {
    height: auto;
    z-index: 0;
}


.cont_gal span {
    font-family: "Gotham-Bold";
}

.al_ranking strong {
    font-size: 21px;

}

#al_contenido .al_premios.hide-radios ul.premios input[type="radio"]{
    display: none;

}

section#al_alertas2.pantalla_completa{
   background:  rgba(0, 0, 0, 0) url("../img/fondo.jpg") no-repeat scroll 0 0 / cover ;
    display: block;
   /* min-height: 800px;*/
   
    width: 100%;
    z-index: 0;
}


#al_alertas2.pantalla_completa #cerrar > a {
    display: none;
}


#al_alertas2.pantalla_completa .toda_alerta {
   /* background: rgba(0, 0, 0, 0) url("../img/diagonal.png") no-repeat scroll 0 0 / cover ;*/
   background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/diagonal.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 444px;   
    overflow: unset;
    padding-bottom: 67px;
    
}

#al_alertas2 .toda_alerta {  
    margin-top: 24px;    
    padding-top: 67px;
}


.p_f_r {
    float: right;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 3px white;
    width: 330px;
}

.al_codigos .centrado {
    float: right;
    width: 100%;
}

.delete{
    overflow: hidden;
}
.delete .al_chocoleche{
    display: none;
}



.silog {
    display: none;
}


.silog .cont_login_desk {
    float: left;
}



.silog .info {
    float: left;
    height: 38px;
    width: 151px;
}


.silog .info > p {
    color: white;
    margin: 13px 0 0 12px;
}

.silog .cont_login_desk {
    font-weight: bold;
    height: 38px;
    margin-top: 6px;
}

.silog .cont_login_desk > a {
    background: rgba(0, 0, 0, 0) url("../img/al_botones.png") no-repeat scroll 0 0 / 100% 38px;
    color: #301506;
    display: block;
    font-family: "Gotham-Bold";
    font-size: 19px;
    height: 100%;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    width: 238px;
}


#al_chocoleche > div#al_contenido #img_mi_premio .mi_premio {
    float: left;
    height: 146px;
    text-align: center;
    width: 33%;
}

.todos_premios > div#img_mi_premio {
    display: block;
    height: 154px;
    width: 100%;
}


.todos_premios .cont_login_desk {
    display: inline-block;
}



.todos_premios > div#btnpremios {
    margin-top: 16px;
    text-align: center;
    width: 100%;
}

.mi_premio > p {
    background: black none repeat scroll 0 0;
    border-radius: 14px;
    color: white;
    font-size: 13px;
    margin: 0 auto;
    opacity: 0.6;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 183px;
}


#img_premio > img {
    height: 100px;
}


#btnpremios .cont_login_desk > a {
    font-size: 15px;
}


.escribe_correo .func_text input[type="text"] {
    border: medium none;
    border-radius: 8px;
    display: block;
    height: 40px;
    margin: 13px auto;
    padding-left: 24px;
    width: 357px;
}

input[type="submit"] {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/al_botones.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    border: medium none;
    cursor: pointer;
    float: left;
    font-family: "Gotham-Bold";
    font-size: 15px;
    height: 38px;
    margin-top: 7px;
    text-transform: capitalize;
    width: 196px;
}


.escribe_correo .func_text input[type="submit"] {
    float: none;
    width: 200px;
}

.vista2{
display: none;
}

.imgref {
    font-size: 12px;
    margin-top: -26px;
    position: absolute;
    right: 24px;
}
.al_dis_contenido.al_contactenos.al_premios.hide-radios > p {
    margin-bottom: 34px;
}


.desk_login .input-msg {
    font-size: 12px;
    height: 0;
    margin-left: 19px;
    padding-top: 21px;
    width: 281px;
}

.al_ranking .cont_login_desk {
    margin-top: 39px;

}

#al_alertas2.pantalla_completa #footer_alert {
    display: block !important;

}

#al_alertas2 .savora > li button{
    width: 100%;
    background: none;
    border: none;
    padding-top: 5px;
    font-family: 'Gotham-Bold';
    font-size: 13px;
    height: 100%;
    cursor:pointer;

}


.landing_alerta {
    background: rgba(0, 0, 0, 0) url("../img/back_alert.png") repeat scroll 0 0 / cover;
   
}
#al_contenido > div#gracias_regis {
    text-align: center;
}
#gracias_regis .imagen > img {
    width: 94px;
}
#gracias_regis > p {
    color: white;
}



.landing_alerta #al_chocoleche > div#al_contenido {
    height: 406px;
    margin-top: 56px;
}


.eshora > img {
    width: 355px;
}

.fuera_de_temporada header{
    display: none;
}


.fuera > img {
    width: 369px;
}


.fuera_de_temporada section#al_chocoleche{
    min-height: auto;
}



.galeria {
    height: 252px;
}

#al_alertas2 .savora.no-padding-left{
    padding-left: 0;
}


.controls {
    clear: both;
    display: block;
    width: 100%;
  /*  border-top: 1px solid;*/
}


.lamitad {
    float: left;
    width: 50%;
}



.controls .cont_img {
    border: medium dashed;
    border-radius: 5px;
    height: 215px;
    margin: 0 auto;
    padding: 7px;
    width: 215px;
}
.eshora button {
    margin-top: 36px;
}


.lamitad.der .cont_img {
    cursor: pointer;
}

.lamitad.izq .cont_img > img {
    width: 72%;
}

.cont_img > p {
    text-shadow: 1px 1px 2px white;
}


#al_chocoleche .eshora a, #al_chocoleche .eshora .controls button[type="submit"] {
    background: rgba(0, 0, 0, 0) url("../img/chocomouse.png") no-repeat scroll 0 0;
    height: 156px;
    margin: 7px 0 0;
    padding: 0;
    width: 93px;
}

.tec {
    clear: both;
    color: white;
    font-size: 13px;
    margin: 0 auto;
    padding-top: 8px;
    text-shadow: 1px 1px 3px black;
    width: 61%;
}


#reg_login > p {
    font-size: 13px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 167px;
    color: #301506;
}


#ingreso > p {
    font-size: 13px;
    margin: 7px 0 0;
    padding: 0;
    text-align: center;
    width: 167px;
    color: #301506;
}


.nolog > div#ingreso {
    float: left;
    width: 196px;
}


.nolog > div#ingreso input[type="submit"] {   
    width: 100%;
     float: none;
}


.cont_login_desk > p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #301506;
}