// Buttons 


.btn
	text-align center
	margin 0 auto
	
.btn-image
	background-color transparent
	appearance none
	border none
	border-radius 0
	text-align center
	margin 0 auto
	display block
	position relative
	img
		cursor pointer
		display block
		center: 390px
		
a.btn
span.btn
	display inline-block
	
.btn-play
	width 330px

.btn-back
.btn-select
.btn-more
.btn-continue
	width 260px
	
.btn-close
.btn-confirm
	width 210px
	
.btn-skip
	width 190px
	
.btn-group-week
	text-align center
	.btn
		display inline-block
		width 145px
	
.btn-group
	text-align center