@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/gotham/Gotham-Book.eot");
  src: url("../fonts/gotham/Gotham-Book.eot?#iefix") format('embedded-opentype'), url("../fonts/gotham/Gotham-Book.woff") format('woff'), url("../fonts/gotham/Gotham-Book.ttf") format('truetype'), url("../fonts/gotham/Gotham-Book.svg") format('svg');
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: "Gotham-Book";
    height: 100%;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    position: relative;
    top: 0;
    width: 100%;
}


section#al_chocoleche {
    background: rgba(0, 0, 0, 0) url("../img/fondo.jpg") no-repeat scroll 0 0 / cover ;
    /*height: 1068px;*/
    position: relative;
    width: 100%;
     z-index: 0;
}


#al_chocoleche footer {
    height: 222px;
    position: relative;
}


#al_chocoleche .back_leche {
    background: rgba(0, 0, 0, 0) url("../img/leche.png") no-repeat scroll 0 0 / cover ;
    height: 280px;
    opacity: 0.81;
    position: fixed;
    width: 100%;
    z-index: -1;
}
.menu_choc a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.menu_choc li {
    display: inline;
    padding-right: 18px;
}
ul.menu_choc {
    text-align: center;
  
}


header {
    background: #301506 none repeat scroll 0 0;
    display: block;
    padding-bottom: 4px;
    padding-top: 4px;
    position: relative;
    width: 100%;
}


#al_contenido > div#logo {
    display: block;
    margin-top: 15px;
    text-align: center;
}


#al_chocoleche > div#al_contenido {
    color: #421e0e;
    display: block;
    margin: 38px auto 0;
    overflow: hidden;
    position: relative;
    width: 726px;
    overflow: unset;
}

#al_contenido > img[alt="registro"] {
    width: 24%;
}


#al_form_choco > input {
    border: medium solid #301506;
    border-radius: 8px;
    float: left;
    font-family: "Gotham-Book";
    font-size: 15.3px;
    height: 45px;
    margin-bottom: 15px;
    margin-right: 1%;
    overflow: hidden;
    padding-left: 17px;
    width: 355px;
}
#al_form_choco .campo_dividido.nor {
    background: white none repeat scroll 0 0;
    border: medium solid #301506;
    border-radius: 8px;
    float: left;
    height: 30px;
    margin-bottom: 15px;
    margin-right: 1%;
    padding-top: 9px;
    width: 349px;
}


#al_form_choco .campo_dividido {
    background: white none repeat scroll 0 0;
    border: medium solid #301506;
    border-radius: 8px;
    float: left;
    height: 38px;
    margin-bottom: 15px;
    margin-right: 1%;
    padding-top: 9px;
    width: 349px;
}


.campo_dividido.nor > input {
    border: medium none;
    color: #c3c0bf;
    font-size: 15px;
    padding-left: 15px;
    width: 45%;
}

#al_form_choco > input::-webkit-input-placeholder {
   color: #c3c0bf;
}

#al_form_choco > input:-moz-placeholder { /* Firefox 18- */
   color: #c3c0bf;
}

#al_form_choco > input::-moz-placeholder {  /* Firefox 19+ */
   color: #c3c0bf;
}

#al_form_choco > input:-ms-input-placeholder {  
    color: #c3c0bf;
}

#al_contenido label {
    color: #c3c0bf;
    font-size: 15.3px;
    position: relative;
}


#al_contenido .campo_dividido.che {
    padding-top: 0;
}

#al_form_choco .box-check {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 3px 0 0 30px;
     height: 100%;
     position: relative;
}


#al_chocoleche input[type="checkbox"] {
    display: none;
}


#al_chocoleche .box-check > p {
    color: black;
    font-size: 12px;
    margin-left: 39px;
    margin-top: 0;
}
#al_chocoleche .box-check-ok {
    border-right: 1px solid rgba(70, 29, 7, 0.25);
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 56px;
}

#al_chocoleche .form-register .box-check input:checked ~ .box-check-ok span {
    background-image: url("../img/check-ok.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 23px auto;
    opacity: 1;
}


#al_chocoleche .form-register .box-check .box-check-ok span {
    background-image: url("../../img/check-ok.png");
    background-size: 33px 30px;
    display: inline-block;
    height: 100%;
    opacity: 0;
    vertical-align: middle;
    width: 49px;
}

.campo_dividido.che > input {
    display: inline-block;
    width: 10%;
}

#al_form_choco > .centrado input#al_eviar_reg {
    background: rgba(0, 0, 0, 0) url("../img/regis.png") no-repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    height: 43px;
    width: 261px;
    color: transparent;
}

#al_form_choco .centrado {
    text-align: center;
}

#al_chocoleche .al_texto > p {
    color: white;
    font-size: 12px;
    text-shadow: 1px -2px 2px black;
}

#al_chocoleche .al_logo_choco {
    position: fixed;
    right: 0;
}


#al_chocoleche footer div {
    bottom: 0px;
}


#al_chocoleche .al_texto {
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 38px;
}
#al_chocoleche .al_logo_al{
    position: fixed;
    left: 0;
}

#al_chocoleche footer div img {
    width: 82%;
}


#al_chocoleche .al_recuerde {
    font-size: 11.2px;
}



#al_chocoleche .campo_dividido.nor > label {
    color: #421e0e;
    margin-left: 15px;
}

#al_chocoleche .al_logo_choco > img {
    float: right;
}


.al_dis_contenido {
    margin-top: 19px;
}

/*inicio contactenos*/

.al_contactenos #al_form_choco > .centrado input#al_eviar_reg {
    background: rgba(0, 0, 0, 0) url("../img/al_enviar.png") no-repeat scroll 0 0;
    float: right;
}

.al_contactenos textarea {
    border: medium solid #301506;
    border-radius: 8px;
    color: #c3c0bf;
    font-family: "Gotham-Book";
    height: 128px;
    margin-bottom: 30px;
    padding-left: 11px;
    padding-top: 11px;
    width: 98.7%;
}


.al_contactenos #al_form_choco > input.tercio {
    margin-bottom: 5px;
    width: 234px;
}
/*fin contactenos*/

/*inicio ranking*/

.al_ranking table {
    text-align: center;
    width: 100%;
}


tr#tab_main {
    background: #86694a none repeat scroll 0 0;
    color: white;
    border-bottom:none;
     height: 35px;
}


tr#tab_tu {
    background: #64432b none repeat scroll 0 0;
    color: white;
    border-bottom:none;

}
tr{

border-bottom: 1px solid #886c55;
}

td.tab_cen{
   color:#886c55;
}

table{
    border-collapse: collapse;
}


.al_ranking td {
    width: 69px;
}

#tab_main img {
    margin-right: 12px;
    width: 13px;
}
/*fin ranking*/




#al_form_choco .al_campo_cod > input {
    border: medium solid #301506;
    border-radius: 8px;
    float: left;
    font-family: "Gotham-Book";
    font-size: 15.3px;
    height: 45px;
    margin-bottom: 15px;
    margin-right: 1%;
    overflow: hidden;
    padding-left: 17px;
    width: 49%;
}


.al_campo_cod {
    width: 332px;
}



.al_codigos .al_campo_cod select {
    background: rgba(0, 0, 0, 0) url("../img/al_sele2.png") no-repeat scroll 98px -6px;
    border: medium none;
    height: 45px;
    margin-bottom: 11px;
    padding-left: 16px;
    width: 178px;
}

.nselec {
    background: white none repeat scroll 0 0;
    border: medium solid #301506;
    border-radius: 8px;
    float: left;
    height: 45px;
    margin-bottom: 6px;
    margin-right: 5px;
    overflow: hidden;
    width: 155px;
}


.al_dis_contenido.al_codigos div#al_form_choco {
    float: left;
    width: 47%;
}


.der_img {
    float: left;
    width: 52%;
}


#al_chocoleche .al_codigos .centrado > input{
    background: rgba(0, 0, 0, 0) url("../img/al_confir.png") no-repeat scroll 0 0;
    float: right;
    border: medium none;
    color: transparent;
    cursor: pointer;
    height: 43px;
    width: 261px;
}


.al_codigos form {
    height: 298px;
}


section#al_alertas2 {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/back_alert.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}

body{

overflow-y: hidden;


}

/******************/


#al_alertas2 .contenedro_alerta {
    color: white;
    margin: 126px auto 0;
    position: relative;
    text-align: center;
    width: 750px;
}


#al_alertas2 .contenedro_alerta > div#cerrar {
    color: white;
    font-size: 12px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 22px;
}

#al_alertas2 .btnface a > img {
    width: 145px;
}


#al_alertas2 .btnface {
    position: absolute;
    right: 0;
    top: 101px;
}


#al_alertas2 .imagen > img {
    width: 97px;
}


#al_alertas2 h2 {
    color: #fabd2e;
    text-transform: uppercase;
}


#al_alertas2 .func_text > p {
    margin: 0 auto;
    width: 82%;
}



#al_alertas2 .oppopu > li {
    display: inline;
}


#al_alertas2 .oppopu p {
    display: inline;
}
#al_alertas2 .oppopu img {
    margin-left: 19px;
    margin-right: 5px;
    width: 28px;
}
#al_alertas2 .oppopu li:first-child img {   
    width: 19px;
}

#al_alertas2 .oppopu p {
    display: inline;
    font-size: 24px;
    font-weight: bold;
}


#al_alertas2 .oppopu span {
    font-size: 22px;
    font-weight: lighter;
}

#al_alertas2 .savora > li {
    display: inline;
}


#al_alertas2 .savora a {
    color: #2b150b;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding-top: 9px;
    text-decoration: none;
}


#al_alertas2 .savora > li {
    background: rgba(0, 0, 0, 0) url("../img/al_botones.png") repeat scroll 0 0;
    display: inline-block;
    height: 44px;
    position: relative;
    width: 229px;
}


#al_alertas2 .savora {
    margin-top: 30px;
}


#al_alertas2 #cerrar > a span {
    border: medium solid;
    border-radius: 79px;
    font-weight: bold;
    padding: 2px 6px 2px 5px;
}


#al_alertas2 #cerrar > a {
    color: white;
    text-decoration: none;
}