// Helpers class

.hidden
	display none !important
	visibility hidden !important
	
.visibilityHidden
	opacity 0
	
.breakline
	display block
	
.align-middle
	display inline-block
	height 100%
	vertical-align middle

.link
	text-decoration underline
	color inherit
	cursor pointer
	
.text-center
	text-align center
	
.text-left
	text-align left
	
.text-right
	text-align right
	
.text-yellow
	color colorYellow
	
::selection
	background-color #c6c7c8
	color colorBlack