@keyframes slideSequenceTarger01
	0%
		margin-bottom 0
	25%
		transform rotateZ(-35deg) 
	50%
		margin-bottom -60px
	75%
		transform rotateZ(0deg) 
	100%
		margin-bottom 0
		
@keyframes slideSequenceTarger02
	0%
		margin-bottom 0
	25%
		margin-bottom -40px
		transform rotate(-15deg)
	50%
		left 40px
	75%
		transform rotate(25deg)
	100%
		margin-bottom 0