.panel-allprize
	position relative
	.panel-item
		margin-bottom 15px
		text-align center
		.image
			background-color colorWhite
			border-top 8px solid colorBrown
			border-bottom 8px solid colorBrown
			padding 20px 10px
			box-sizing border-box
			text-align center
			position relative
			img
				margin 	0 auto
				display block	
				width 100%
				max-width 320px
				position relative
				z-index 1
			&:after
				cover()
				background linear-gradient('top', alpha(colorBlack, .15), colorWhite 55%)
				top 60%
				z-index 0
		.title
			color colorWhite
			text-align center	
			span
				display inline-block
				position relative
				top -15px
				height 25px	
				background-color colorBrown
				border-radius 4px
				padding 0 10px
				font-family 'Gotham-Book'