// Panel container

.panel
	position relative
	margin-bottom 35px
	clearfix()
	.social-link
		fixed: bottom 15px right 5px
		width 140px
		cursor pointer
		text-align center
		img
			margin 0 auto
			display block
			width 138px
	.panel-col
		float left
		width 33.333333333333336%
		min-height 1px
		
	.panel-box
		size: 170px
		background-color colorWhite
		margin 0 auto
		box-sizing border-box
		border-radius 25px
		border 8px solid colorBrown
		position relative
	ul
		padding 0
		margin 0
		display none
	li
		text-align center
		size: 154px
		img
			vertical-align middle
			display inline-block
			width 100%
	
	.panel-control
		absolute: top 30px left -24px
		.icon
			size: 40px
			display block
			margin-bottom 5px
			background-repeat no-repeat
			background-size 40px 40px
			background-position center
			cursor pointer
		.prev .icon
			background-image url('../img/icon-up.png')
		.next .icon
			background-image url('../img/icon-down.png')
	.bx-controls
		display none

@media only screen and (max-width 640px)
	.panel
		text-align center
		margin-bottom 5px
		.panel-col
			margin 0 10px 20px 10px
			display inline-block
			width auto
			float none
		.panel-box
			size: 120px
			border-width 4px
		li
			size: 112px
		.panel-control
			top 25px
			left -18px
			.icon
				size: 30px
				background-size 30px 30px
				margin-bottom 1px