.panel-prize
	text-align center
	padding-top 15px
	margin-bottom 5px
	.image
		center: 170px
		size: 170px
		margin-bottom 8px
		img
			display block
			width 100%
	.text
		text-align center
		display inline-block
		color colorWhite
		text-transform uppercase
		background-color alpha(colorBlack, .55)
		padding 2px 15px
		border-radius 18px
		margin-bottom 12px
		min-width 120px
	.panel-disclaimer
		text-align right
		font-size 12px
		color colorBrown