.panel-ready
	padding-top 15px
	margin-bottom 0
	.image
		center: 640px
		padding 0 10px
		box-sizing border-box
		img
			display block
			width 100%
	.text
		font-size 18px
		line-height 22px
		color colorBrown
		padding-bottom 15px
		text-align center
		font-family 'Gotham-Medium'
		strong
		b
			font-family 'Gotham-Bold'


@media only screen and (max-width 420px) and (orientation portrait)
	.panel-ready
		.image
			max-width 320px
		.text
			font-size 12px
			line-height 14px
			padding-bottom 0

@media only screen and (max-height 420px) and (orientation landscape)
	.panel-ready
		.image
			max-width 320px
		.text
			font-size 12px
			line-height 14px
			padding-bottom 0