.table
	display table
	
	.table-cell
		display table-cell
		vertical-align middle
		
table
	width 100%
	
.table-ranking
	width 100%
	position relative
	margin-bottom 25px
	
	.table-header
		color colorWhite
		background-color colorBrown
		background-color alpha(colorBrown, .6)
	
	.table-body
		color colorBrownLight
		text-align center
		td:first-child
		td:last-child
			color colorBrownDark
			font-weight bold
		
	.table-wrap
		center: 480px
		text-align center
		td
			width 33.3333333332%
		
	.table-item
		background-color colorBrown
		background-color alpha(colorBrown, .1)
		margin-bottom 1px
		&.active
			color colorWhite
			background-color colorBrown
			background-color alpha(colorBrown, .8)
			
.table-winners
	width 100%
	position relative
	margin-bottom 25px
	font-family 'Gotham-Medium'
	
	.table-header
		color colorWhite
		background-color colorBrown
		background-color alpha(colorBrown, .6)
		font-size 20px
	
	.table-body
		color colorBrownLight
		text-align center
		td:first-child
		td:last-child
			color colorBrownLight
		td:last-child
			font-size 12px
			font-family 'Gotham-Book'
			
	.table-wrap
		center: 336px
		text-align center
		td
			width 50%
			
	.table-item:nth-child(odd)
		background-color alpha(colorBrown, .10)
		
@media only screen and (max-width 420px) and (orientation portrait)
	.table-ranking
	.table-winners
		margin-bottom 10px
		
@media only screen and (max-height 420px) and (orientation landscape)
	.table-ranking
	.table-winners
		margin-bottom 10px