/** 
 * Grid system
 * 
 * Example:
 * 
 * 		list = 'colName' [, 'colName', .. ]
 * 		columns = 12
 * 
 * 		setup-grid( list, columns )
 * 		generate-grid( 'colName' , columns  ) 
 * 		
 * 		@media 'config'
 * 			generate-grid( 'colName' , columns  ) 
 * 
 */
 
initial-grid( arrText, columns )
	for text, i in arrText
		for c, j in 0...columns
			.col-{text}-{j+1}
				@extend $columnInitial


setup-grid( arrText, columns )
	clearfix()
	for text, i in arrText
		for c, j in 0...columns
			.col-{text}-{j+1}
				@extend $columnStyle


generate-grid( text, columns )
	initial-grid( cols-name, columns )
	for c, i in 0...columns
		.col-{text}-{i+1}
			width (100/columns) * (i+1) %